%dark-blue-theme {
  @include lib-css('background-color', $color-gradient-start-blue);
  background-size: cover;
  background-position: center;
  background-image: url(../../img/isometric-bg-dark.png),linear-gradient(135deg,#005dab 0,#00529e 74%,#00418c 100%);
}

%shadow-start {
  width: 0;
  height: 0;
  opacity: 0.2;
}

// unordered lists

%bullets {
  @include lib-css(font-weight, $font-weight__regular);
  @include lib-font-size(15px);
  @include lib-line-height(24.6px);
}

%bullets-check {
  li {
    list-style-type: none;
    @extend %bullets;
    @include lib-css(margin-bottom, $checkboxSize);
    padding-left: 40px;
  }

  li::before {
    content: "";
    background: url("../images/ssl/check-orange.svg") no-repeat left top;
    width: 17px;
    height: 13px;
    position: absolute;
    top: 6px;
    left: 0;
  }
}

%form {
  .alert {
    background-color: rgb(7, 78, 138);
    color: $color-white;
    margin: 20px auto 10px;
    width: max-content;
    border-radius: 21px;
    @include lib-font-size(14px);
    border: 0;
    box-shadow: 0px 10px 11px -5px rgba(0, 0, 0, 0.6);
    display: none;
  }

  .alert-danger {
    color: #ff7100;
  }

  $check-padding-left: 55px;

  .checkbox-container {
    text-align: left;
    margin: 30px auto $checkboxSize;
    max-width: 500px;
    padding-left: $check-padding-left;
  }

  .checkbox-container .alert {
    text-align: center;
    line-height: 1.5;
    left: -0.5 * $check-padding-left;
  }

  .button-container .btn {
    margin: $checkboxSize auto 0;
  }
}