.page-template-page-about {
  section {
    font-family: 'Roboto', sans-serif;
  }
  .main-wrapper {
    max-width: 1440px;
    height: 100%;
  }

  .back-grey {
    background-color: $color-page-back-grey;
  }

  .back-grey2 {
    background-color: $color-back-grey;
  }

  .back-white {
    background-color: $color-page-back-white;
  }

  .back-red {
    background-color: $color-red;
  }

  .back-black {
    background-color: $color-back-grey;
  }
  .page {
    height: 805px;
    min-height: 100vh;
    width: 100%;
    z-index: 0;

    .double-border {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      max-width: 170px;
      z-index: 1;
      border-left: 10px solid $color-p3-border-grey;
      border-right: 10px solid $color-p3-border-grey;

    }

    .content {
      height: 100%;
      max-width: 1440px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 2;
      overflow: hidden;
      margin: 0 auto;
      padding: 0 50px;

      .text {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        z-index: 3;
      }
    }
  }

  .header a.logo {
    display: inherit;
    padding: 30px 0;
    margin-right: 250px;
  }

  .header,
  .logo {
    display: flex;
    justify-content: flex-end;
    width: 100%;

  }

  .hero {
    height: 805px;
    background: #272628;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .hero .layer-left {
    max-width: 80%;
    width: 810px;
    height: 971px;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: cover;
    z-index: 2;
    background-image: lib-url-svg('Vector.svg');
    background-position: right;
  }

  .hero .double-border {
    border-left: 10px solid $color-p3-border-grey;
    border-right: 10px solid $color-p3-border-grey;
  }

  .hero .main-wrapper .title p,
  .hero .main-wrapper .title h1,
  .hero .main-wrapper .title h2,
  .hero .main-wrapper .title h3,
  .hero .main-wrapper .title h4,
  .hero .main-wrapper .title h5,
  .hero .main-wrapper .title h6,
  .hero .main-wrapper .title-facts p,
  .hero .main-wrapper .title-facts h1,
  .hero .main-wrapper .title-facts h2,
  .hero .main-wrapper .title-facts h3,
  .hero .main-wrapper .title-facts h4,
  .hero .main-wrapper .title-facts h5,
  .hero .main-wrapper .title-facts h6{
    max-width: 890px;
    @include lib-font-size(90px);
    @include lib-line-height(83px);
    text-align: left;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    z-index: 1;

    strong em,
    em strong {
      font-style: normal;
    }

    strong em {
      color: transparent;
      -webkit-text-stroke: 1px $color-white;
    }

    em strong {
      color: $color-white;
      em {
        color: $color-red;
        -webkit-text-stroke: 0;
      }
    }
  }

  .subtitle{
    width: 1440px;
  }

  .main-wrapper .title{
    font-size: 66px;
    padding: 226px 0 50px 240px;
  }

  .main-wrapper .subtitle p {
    width: 280px;
    float: right;
    color: #a9a9a9;
    line-height: 25px;
    padding: 28px 335px 66px 0;
    border-top: 1px solid;
  }

  .hero .layer-left {
    max-width: 80%;
    width: 810px;
    height: 971px;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: cover;
    z-index: 2;
    background-position: right;
  }


  //SECOND SECTION//
  .hero .main-wrappers {
    width: 100%;
    max-width: 1588px;
    margin: 0 auto;
    z-index: 2;

    &.titles {
      float: right;
    }
  }


  .hero .second-left {
    max-width: 80%;
    width: 810px;
    height: 971px;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: cover;
    z-index: 1;
    background-position: right;
  }

  .hero .main-map {
    height: 555px;
  }

  .hero .maps-moscow {
    background-image: lib-url-svg('rs 1.svg');
    width: 301px;
    height: 298px;
    z-index: 2;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 78px;
    &:before{
      background-image: lib-url-svg('Group 13.svg');
      content: ' ';
      display: block;
      width: 100px;
      height: 100px;
      background-repeat: no-repeat;
      margin: -280px 0 0 170px;
    }
  }

  .hero .main-map .moscow-main-map {
    width: 301px;
    height: 298px;
    background-image: lib-url-svg('HUN3175.svg');
    margin: 0 auto;
    z-index: 2;
    &:not(:hover) {
      filter: blur(15px);
    }
  }

  .hero .main-map .moscow-main-map {
    &:before,
    &:after {
      content: ' ';
      width: 301px;
      height: 298px;
      margin: 0 auto;
      z-index: 2;
      background-repeat: no-repeat;
      display: block;
    }

    &:before {
      background-image: lib-url-svg('Vector-Moscow.svg');
      margin: 0 335px;
    }

    &:after {
      background-image: lib-url-svg('ulianovsk.svg');
      margin: -180px 0 0 -50px;
    }
  }

  .hero .second-left p:last-child {
    width: 100%;
    max-width: 254px;
    color: #A9A9A9;
    font-size: 16px;
    line-height: 25px;
    font-family: Acrom;
    font-style: normal;
    font-weight: normal;
  }
  .hero .second-left p:first-child{
    font-family: Typeface;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 35px;
    color: #FFFFFF;
    padding: 0 0 24px 0;
  }


  .hero .main-wrappers .titles {
    float: right;
    color: #a9a9a9;
    padding: 0 0 66px 0;
    font-size: 66px;

    & p:first-child {
      color: $color-white;
    }

    & p:last-child {
      color: $color-red;
    }
  }
  .hero .second-left .subtitles{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 193px 135px;
  }
  //FACTS//
  .hero .layer-facts {
    max-width: 100%;
    width: 1352px;
    height: 577px;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: cover;
    z-index: 1;
    background-image: lib-url-svg('Vector 13.svg');
    background-position: right;
  }
  .title-facts {
    padding: 0 0 224px 40px;
  }
  .title-facts p:first-child{
    color: transparent;
    -webkit-text-stroke: 1px var(--wp--preset--color--white);
  }
  .title-facts p:last-child{
    color: $color-white;
  }
  .hero .main-wrapper .facts-subtitle{
    float: right;
    color: #a9a9a9;
    padding: 0 0 66px 0;
    font-size: 14px;
    width: 100%;
    max-width: 401px;
  }
  .people-group{
    max-width: 100%;
    width: 1307px;
    height: 516px;
    max-height: 100%;
    bottom: 0;
    left: 0;
    background-size: cover;
    z-index: 1;
    background-image: lib-url-svg('Mask Group.svg');
    background-position: right;
    padding-left: 238px;
  }
  .red-passion {
    background: #272628;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 805px;

    .title-passion {

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        width: 100%;

        strong em,
        em strong {
          font-style: normal;
          text-transform: uppercase;
        }

        strong em {
          font-size: 86px;
          color: transparent;
          -webkit-text-stroke: 1px $color-white;
        }

        em strong {
          font-size: 190px;
          color: $color-page-back-grey;
        }
      }
    }
  }
  .layer-passion{
    width:100%;
    height: 805px;
    background: $color-red;
  }
  .red-passion .double-border {
    border-left: 10px solid rgba(236, 0, 45, 0.3);
    border-right: 10px solid rgba(236, 0, 45, 0.3);
  }
  .title-passion{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .content {
    position: relative;

    .photo {
      position: absolute;
      width: max-content;
    }

    .photo1 {
      margin-bottom: 100px;
      left: 0;
      max-width: 33%;
    }

    .photo2 {
      margin-bottom: 500px;
      left: 29%;
    }

    .photo3 {
      margin-top: 700px;
      left: 3%;
    }

    .photo4 {
      margin-top: 500px;
      left: 7%;
    }

    .photo5 {
      margin-top: 400px;
      left: 15%;
    }

    .photo6 {
      margin-top: 550px;
      left: 28%;
    }

    .photo7 {
      margin-bottom: 550px;
      right: 31%;
    }

    .photo8 {
      margin-bottom: 580px;
      right: 5%;
    }

    .photo9 {
      margin-bottom: 250px;
      right: 14%;
    }

    .photo10 {
      margin-top: 560px;
      right: 35%;
    }

    .photo11 {
      margin-top: 300px;
      right: 8%;
      max-width: 25%;
    }

    .photo12 {
      margin-top: 200px;
      right: 3%;
    }

    .border {
      @include lib-font-size(86px);
      @include lib-line-height(80px);
      color: transparent;
      -webkit-text-stroke: 1px $color-back-grey;
    }

    .text {
      @include lib-font-size(30px);
      color: $color-font-grey;
      text-transform: none;
      width: 100%;
      max-width: 275px;
      text-align: left;

      .white {
        color: $color-white;
      }
    }
    .news {
      margin-top: 40px;
      margin-left: 130px;
      @include lib-font-size(14px);
      color: $color-red;
      text-transform: uppercase;
      z-index: 3;
    }

    .news::after {
      content: '';
      display: inline-block;
      width: 30px;
      height: 3px;
      border-top: 1px solid $color-red;
      border-bottom: 1px solid $color-red;
      margin-left: 10px;
      margin-bottom: 2px;
    }

    .news:hover {
      color: $color-white;
    }

  }
  .p3 {
    .double-border {
      border-left: 10px solid $color-p3-border-grey;
      border-right: 10px solid $color-p3-border-grey;
    }

    .content {
      align-items: flex-start;
      z-index: 4;
      height: 330px;
      max-width: 1440px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
      margin: 0 auto;
      padding: 0 50px;

      .text {
        @include lib-font-size(86px);
        @include lib-line-height(80px);
        text-align: left;
        width: 100%;
        max-width: 700px;


        .border {
          color: transparent;
          -webkit-text-stroke: 1px $color-white;

          .red {
            -webkit-text-stroke: 1px $color-red;
          }
        }

        .bold {
          color: $color-white;

          .red {
            color: $color-red;
          }
        }
      }

      .items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        z-index: 3;
        list-style-type: none;
        padding: 0;
        margin-top: 50px;

        .item {
          width: 100%;
          max-width: max-content;
          color: #FF0031;
          font-size: 50px;
          font-weight: 500;
          font-family: 'Roboto', sans-serif;
          margin-right: 28px;

          .description {
            font-size: 16px;
            font-weight: 400;
            color: #a9a9a9;
            width: 100%;
            max-width: 210px;
            margin-left: 30px;

            .white {
              color: $color-white;
            }
          }
        }

        .item::before {
          display: inline-block;
          content: "";
          width: 10px;
          height: 10px;
          background-color: #FF0031;
          margin: 13px 0;
          margin-right: 15px;
        }
      }
    }
  }
  .p8 {
    position: relative;
    height: 875px;

    &.major{
      display: flex;
      justify-content: center;
    }

    .double-border {
      border-left: 10px solid $color-p3-descrp-grey;
      border-right: 10px solid $color-p3-descrp-grey;
    }
    .main-man{
      width: 100%;
      max-width: 1300px;
      height: 577px;
    }
    .vector-white{
      width: 100%;
      max-width: 50%;
      height: 577px;
      position: absolute;
      top: 185px;
      left: 0;
      background-size: cover;
      z-index: 1;
      background-image: lib-url-svg('Vector-white (1).svg');
    }
    .major-man {
      clip-path: polygon(25% 0%, 100% 0%, 65% 100%, 0% 100%);
      position: absolute;
      background-image: lib-url-svg('Vector-black.svg');
      background-size: cover;
      z-index: 2;
      background-position: center;
      width: 677px;
      height: 805px;
      overflow: hidden;

      img {
        position: absolute;
        left: 90px;
        bottom: 0;
      }
    }
    .content-major {
      height: 100%;
      max-width: 1440px;
      z-index: 3;
      top: 135px;
      left: 150px;
    }
    .content-major .text-major{
      margin: 0;
      text-transform: uppercase;
      font-weight: 500;
      z-index: 3;
    }
    .content-major .text-major .border{
      font-size: 5.375rem;
      line-height: 5rem;
    }
    .content-major .text-major .bold {
      color: $color-red;
      font-size: 90px;
      line-height: 5rem;
    }
    .content-major .text-mask{
      margin-top: 50px;
      font-weight: 500;
      z-index: 3;
    }
    .content-major .text-mask .border-mask{
      font-size: 30px;
    }
    .content-major .text-mask .bold-mask {
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 25px;
      color: $color-red;
    }
    .sub-text-mask{
      width: 100%;
      max-width: 250px;
      margin-top: 24px;
      color: #737373;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
    }
    .sub-text-ilon-mask{
      width: 100%;
      max-width: 240px;
      z-index: 3;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      color: #737373;
      margin-top: 430px;
      margin-right: 150px;
    }
    .news{
      position: absolute;
      font-size: 14px;
      color: #ff0031;
      text-transform: uppercase;
      z-index: 3;
      margin-top: 40px;
      right: 0;
    }

    .news:after{
      content: "";
      display: inline-block;
      width: 30px;
      height: 3px;
      border-top: 1px solid #ff0031;
      border-bottom: 1px solid #ff0031;
      margin-left: 10px;
      margin-bottom: 2px;
    }
    .news:hover {
      color: #fff;
    }
  }
  .p9 {
    position: relative;
    height: 905px;

    .flex-block {
      flex-direction: column;
      padding: 0 135px;
      justify-content: start;
    }
    .organization {
      width: 100%;
      height: 805px;
      background: #EAEAEA;
    }
    .white-form{
      position: absolute;
      width: 100%;
      height: 577px;
      max-height: 100%;
      top: 0;
      right: 0;
      background-size: cover;
      z-index: 2;
      background-image: lib-url-svg('Vector-white.svg');
    }
    .text {
      margin: 0;
      z-index: 3;
      padding-top: 120px;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {

        strong em,
        em strong {
          font-style: normal;
          color: $color-page-back-grey;
          line-height: 25px;
          text-transform: uppercase;
          font-weight: 500;
        }

        strong em {
          font-size: 5.375rem;
          line-height: 5rem;

          -webkit-text-stroke: 1px $color-black;
          color: transparent;
        }
        em strong {
          font-size: 5.375rem;
          line-height: 5rem;
        }
      }
    }

    ul {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      z-index: 3;
      list-style-type: none;
      margin-top: 74px;
      padding-left: 25px;
    }

    .content {
      height: 100%;
      max-width: 1440px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 2;
      overflow: hidden;
      margin: 0 auto;
      padding: 0 50px;
    }

    li {
      width: 100%;
      max-width: 220px;
      color: #ff0031;
      font-size: 10px;
      font-weight: 500;
      margin-right: 66px;
      margin-bottom: 50px;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 18px;
        width: 100%;
        max-width: 200px;

        strong em,
        em strong {
          font-style: normal;
          color: $color-page-back-grey;
          line-height: 25px;
        }

        strong em {
          font-weight: 400;
        }

        em strong {
          font-weight: 500;
        }
      }
    }
    li::before {
      display: inline-block;
      position: absolute;
      top: 7px;
      left: -25px;
      content: "";
      width: 10px;
      height: 10px;
      background-color: #ff0031;
      margin-right: 15px;
    }
    .red-talk{
      position: absolute;
      right: 0;
      bottom: 100px;
      width: 305px;
      height: 70px;
      background-color: $color-red;
      & a{
        top: 25px;
        font-size:18px;
        color: $color-white;
        margin-left: 40px;
      }
      & a:after{
        content: "";
        display: inline-block;
        width: 30px;
        height: 3px;
        border-top: 1px solid $color-white;
        border-bottom: 1px solid $color-white;
        margin-left: 10px;
        margin-bottom: 2px;
      }
    }
  }
  .p9.certificates{
    background: #272628;
  }
  .p9{
    .title{
      padding: 120px 107px;
      font-style: normal;
      font-weight: 500;
      font-size: 80px;
      line-height: 74px;
      text-transform: uppercase;
      color: #737373;
    }
    .about-certificates{
      float: right;
    }
  }
  .silver{
    width: 100%;
    height: 250px;
    background: #eaeaea;;
  }
  .red-slider {
    width: 648px;
    height: 150px;
    background: red;
    float: right;
    margin-top: -70px;
  }
  .photoh{
    width: 100%;
    max-width: 1900px;
    height: 500px;
  }
  .palka{
    width: 100%;
    max-width: 1900px;
    height: 500px;
    left: 50px;
  }
  .suka{
    max-width: 1690px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 50px;
  }
  .back-black .layer-left {
    max-width: 100%;
    width: 1352px;
    height: 577px;
    max-height: 100%;
    position: absolute;
    left: 0;
    background-size: cover;
    z-index: 2;
    background-image: lib-url-svg('Vector 13.svg');
    background-position: right;
  }

}
