
.example {
  h2 {
    @include lib-font-size(25px);
  }

  img {
    width: 500px;
    height: auto;
  }

  a {
    display: block;
    width: max-content;
    padding: $indent__half $indent__base;
    background-color: $color-black;
    color: $color-white;
    border: 1px solid $color-black;

    &:hover {
      background-color: $color-white;
      color: $color-black;
    }
  }
}