.footer {
  p.copyrights.mobile {
    display: none;
  }

  .right {
    width: 70%;
    @include lib-vendor-prefix-display(flex);
    justify-content: space-between;
  }

  .marquee {
    background-color: $color-red;
    width: 100%;
    font-weight: 600;
    //height: 50%;

    &:hover {
      background: #27F0E4;
    }

    @keyframes scroll {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-100%, 0)
      }
    }

    .text {
      white-space: nowrap;
      overflow-x: hidden;
      @include lib-font-size(300px);
      text-transform: uppercase;
      margin: 0;
    }

    .text span {
      cursor: default;
      display: inline-block;
      color: #272628;
      padding-left: 100%;
      animation-timing-function: linear;
      @include lib-animation-extended(scroll, 5s, infinite, linear);
    }
  }

  .footer-menu {
    @include lib-vendor-prefix-display(flex);
    justify-content: space-between;
    background-color: $color-back-black;
    padding: 74px 135px;
    //height: 50%;

    .space {
      row-gap: 30px;
    }

    .space-between {
      justify-content: space-between;
    }

    .block {
      @include lib-vendor-prefix-display(flex);
      @include lib-vendor-prefix-flex-direction(column);

      .copyrights,
      .items a {
        @include lib-font-size(14px);
      }

      .copyrights {
        color: $color-font-grey;
        margin: 0;
      }

      .title {
        color: $color-font-grey;
        text-transform: uppercase;
        @include lib-font-size(14px);
        font-weight: 800;
        padding-bottom: 15px;
      }

      .items {
        @include lib-vendor-prefix-display(flex);
        @include lib-vendor-prefix-flex-direction(column);

        .item {
          color: $color-white;
          margin-bottom: 6px;

          &:last-child {
            margin-bottom: 0;
          }

          &:hover {
            color: $color-red;
          }
        }
      }
    }
  }
}