.header {
  z-index: 99999;
  position: fixed;

  &.removed {
    .block-menu:hover .title {
      top: 0;
    }

    .title {
      top: -200px;
    }
  }

  a.logo {
    display: none;
  }

  .block-menu {
    @include lib-vendor-prefix-display(flex);
    justify-content: space-between;
    @include lib-vendor-box-align(center);
    @include lib-vendor-prefix-flex-direction(column);
    position: fixed;
    width: 80px;
    height: max-content;
    right: 80px;
    top: 0;

    .menu__toggle {
      opacity: 0;
    }

    .menu__btn {
      @include lib-vendor-prefix-display(flex);
      @include lib-vendor-box-align(center);
      justify-content: center;
      position: absolute;
      top: 0;
      width: 80px;
      height: 70px;
      cursor: pointer;
      z-index: 100;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 35px;
      height: 2px;
      background-color: $color-white;
      @include transition($default-transition);
    }

    .menu__btn > span::before {
      content: '';
      top: -8px;
    }

    .menu__btn > span::after {
      content: '';
      top: 8px;
    }

    .menu__btn {
      background-color: $color-red;
    }

    .menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
      width: 22px;
    }

    .menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      display: none;
    }

    .menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
      width: 22px;
    }

    .menu__toggle:checked ~ .full-menu {
      visibility: visible;
      top: 0;
    }

    .title {
      writing-mode: tb-rl;
      transform: rotate(-180deg);
      padding: 56px 29.5px;
      background-color: $color-red;
      z-index: 1;

      .text {
        color: $color-white;
        @include lib-font-size(18px);
        font-weight: $font-weight__regular;
        white-space: nowrap;
        text-transform: uppercase;
      }
    }

    .burger-menu {
      display: inline-block;
      cursor: pointer;
      margin-top: 27px;

      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 2px;
        background-color: $color-white;
        margin: 6px 0;
        @include transition($default-transition);
      }
    }

    .change {

      .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
      }

      .bar2 {
        opacity: 0;
      }

      .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
  }

  .full-menu {
    @include lib-vendor-prefix-display(flex);
    position: fixed;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    right: 0;
    top: -100%;
    z-index: 99;
    @include transition($default-transition);
    overflow: hidden;

    .logo {
      position: absolute;
      left: 70px;
      top: 31px;
      z-index: 1;
    }

    .back-image {
      position: relative;

      .filter {
        background-color: $color-red;
      }

      img {
        height: 100vh;
        width: 100%;
        max-width: 505px;
        mix-blend-mode: multiply;
        object-fit: cover;
      }
    }

    .menu {
      width: calc(100% - 505px);
      height: calc(100% - 160px);
      padding: 80px 101px;
      background-color: $color-back-grey;

      .left {
        @include lib-vendor-prefix-display(flex);
        @include lib-vendor-prefix-flex-direction(column);
        justify-content: space-between;
        height: 100%;

        .menu-pages {
          @include lib-vendor-prefix-display(flex);
          @include lib-vendor-prefix-flex-direction(column);
          margin-top: 10px;

          a.active {
            color: $color-white;
          }

          .menu-page {
            width: max-content;
            max-width: 90%;
            color: $color-font-grey;
            @include lib-font-size(50px);
            font-weight: $font-weight__semibold;
            @include transition($default-transition);
          }

          .menu-page:hover {
            color: $color-red;
          }

          .menu-page:checked {
            color: $color-white;
          }
        }

        .contacts {
          @include lib-vendor-prefix-display(flex);
          @include lib-vendor-prefix-flex-direction(column);
          margin-top: 70px;

          .text {
            width: max-content;
            color: $color-white;
            @include lib-font-size(16px);
            line-height: 34px;
          }

          .text:hover {
            color: $color-red;
          }
        }
      }

      .right {
        @include lib-vendor-prefix-display(flex);
        @include lib-vendor-prefix-flex-direction(column);
        position: absolute;
        bottom: 79px;
        right: 110px;

        .lang {
          color: $color-red;
          writing-mode: tb-rl;
          transform: rotate(-180deg);
          @include lib-font-size(14px);
          margin-left: -2px;
        }

        .lang:hover {
          color: $color-white;
        }

        .socials {
          @include lib-vendor-prefix-display(flex);
          @include lib-vendor-prefix-flex-direction(column);
          margin-top: 20px;

          .social {
            margin-top: 30px;
          }
        }
      }
    }
  }
}

.header .socials a:hover svg path,
footer .block.space a:hover svg path,
.header .logo:hover svg path,
footer .logo:hover svg path {
  fill: $color-white;
}

.header .logo,
footer .logo {
  cursor: pointer;
}