@import "blocks/hero";

.products .main-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.double-border {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 170px;
  z-index: 1;
}

.section {
  -webkit-transform: translate3d(0,0,0);
}

#train .main-wrapper {
  overflow-y: visible;
}

.wrapper,
.main-wrapper {
  overflow-y: hidden;
}

header {
  box-sizing: unset !important;
}

section {
  width: 100%;
  overflow: hidden;

  * {
    box-sizing: unset;
  }
}

.main-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 2;
}

#first-sentence,
#facts,
section.fourth-section,
#map,
section.sixth-section,
section.news,
#news,
.img-slider {
  min-height: 100vh;
  height: 805px;
}

#first-sentence,
#facts,
section.fourth-section,
#map,
section.sixth-section,
section.news,
#news,
.img-slider,
#train,
#passangers,
#drivers {
  .nav {
    margin-top: 60px;
    margin-left: 0;
    margin-right: auto;
    height: 9px;
    min-width: 113px;
    @include lib-vendor-prefix-display(flex);
    color: #FF0031;
    @include lib-vendor-box-align(center);

    div {
      @include lib-vendor-box-align(center);
      @include lib-vendor-prefix-display(flex);
    }
    .prev,
    .next {
      cursor: pointer;
    }

    .line.right,
    .line.left {
      width: 38px;
      background: $color-white;
    }

    .line.right {
      margin-left: auto;
    }

    .line.left {
      margin-right: auto;
    }

    .line-buf {
      width: 86px;
    }

    .line {
      height: 1px;
      width: 86px;
      background: #FF0031;
      margin: 0 4px;
    }
  }
}

#first-sentence {
  background: #EAEAEA;

  .double-border {
    border-left: 10px solid #E6E6E6;
    border-right: 10px solid #E6E6E6;
  }

  .main-wrapper {
    @include lib-vendor-prefix-display(flex);
    @include lib-vendor-prefix-flex-direction(column);
    justify-content: center;
    height: 100%;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #FF0031;

    &:first-child,
    &:last-child {
      @include lib-font-size(86px);
      font-style: normal !important;
      color: transparent;
    }

    &:first-child {
      -webkit-text-stroke: 1px #333333;
      margin-top: 60px;
    }

    &:last-child {
      -webkit-text-stroke: 1px $color-red;
      margin-top: 45px;
    }

    &:nth-child(2) {
      @include lib-font-size(190px);
      @include lib-line-height(130px);
    }
  }
}

#facts {
  background: $color-back-grey;

  .main-wrapper {
    @include lib-vendor-prefix-display(flex);
    @include lib-vendor-prefix-flex-direction(column);
    justify-content: center;
    height: 100%;
  }

  .double-border {
    border-left: 10px solid rgba( 0, 0, 0, .1);
    border-right: 10px solid rgba( 0, 0, 0, .1);
  }

  .layer {
    max-width: 80%;
    width: 1068px;
    height: 579px;
    max-height: 66%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: cover;
    z-index: 1;
    background-image: lib-url-svg('bg-1.svg');
    background-position: right;
  }

  .title {
    margin-bottom: 50px;

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include lib-font-size(86px);
      @include lib-line-height(80px);
      font-weight: 500;
      color: $color-white;
      text-transform: uppercase;

      em {
        font-style: normal !important;
        -webkit-text-stroke: 1px $color-white;
        color: transparent;
      }

      strong {
        color: #FF0031;
        font-weight: 500;
      }
    }
  }

  ul {
    color: $color-red;
    @include lib-list-reset-styles;
    @include lib-vendor-prefix-display(flex);
    justify-content: space-between;
    row-gap: 20px;
  }

  ul li {
    color: $color-red;
    @include lib-font-size(50px);
    font-weight: 500;
    width: 23%;
    @include lib-vendor-prefix-display(flex);

    .dot {
      margin-top: 25px;
      margin-right: 20px;
      min-width: 10px;
      max-width: 10px;
      height: 10px;
      background: $color-red;
      display: block;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 30px;
      color: #A9A9A9;
      font-weight: 400;
      @include lib-font-size(16px);

      strong {
        color: $color-white;
        font-weight: 400;
      }
    }
  }
}

section.fourth-section {
  background: $color-white;
  @include lib-vendor-prefix-display(flex);
  @include lib-vendor-box-align(center);

  .double-border {
    border-left: 10px solid #FCFCFC;
    border-right: 10px solid #FCFCFC;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    @include lib-font-size(86px);
    @include lib-line-height(80px);
    color: #FF0031;
    font-weight: $font-weight__bold;

    strong {
      color: transparent;
      -webkit-text-stroke: 1px $color-back-grey;
    }
  }
}

#map {
  background: #272628;

  .map-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .main-wrapper {
    @include lib-vendor-prefix-display(flex);
    @include lib-vendor-prefix-flex-direction(column);
    justify-content: space-between;
    height: 100%;
  }

  .map-content {
    z-index: 2;
    width: 1850px;
    height: 911px;
    //background-image: lib-url-svg('map.svg');
    background-image: lib-url('map1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 39px;
    left: 15px;

    p.city {
      @include lib-font-size(14px);
      color: #A9A9A9;
      position: absolute;
      cursor: default;

      &.c1 {
        left: 137px;
        top: 367px;
      }

      &.c2 {
        left: 171px;
        top: 580px;
      }

      &.c3 {
        left: 492px;
        top: 445px;
      }

      &.c4 {
        left: 627px;
        top: 565px;
      }
    }
  }

  .double-border {
    border-left: 10px solid #242424;
    border-right: 10px solid #242424;
  }

  .title {
    margin-top: 169px;

    .title-general {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        text-transform: uppercase;
        @include lib-font-size(86px);
        font-weight: $font-weight__bold;
        color: $color-white;

        strong {
          color: #FF0031;
        }
      }
    }

    .title-subtitle {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        @include lib-font-size(14px);
        color: #A9A9A9;
        font-weight: 400;

        strong {
          color: #FF0031;
          font-weight: 400;
        }

        &:after {
          content: "";
          width: 9px;
          height: 9px;
          background-image: lib-url-svg('heart.svg');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          display: inline-block;
          margin-left: 10px;
        }
      }
    }
  }

  p.description {
    color: $color-white;
    @include lib-font-size(30px);
    font-weight: 600;
    margin-bottom: 141px;
    width: 362px;
    align-self: flex-end;
  }
}

section.sixth-section {
  background: #FF0031;
  @include lib-vendor-prefix-display(flex);
  @include lib-vendor-box-align(center);

  .subtitle {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      @include lib-font-size(86px);
      @include lib-line-height(80px);
      color: $color-white;
      padding-top: 10px;

      strong {
        color: $color-back-grey;
      }
    }
  }

  .title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      @include lib-font-size(190px);
      line-height: 170px;
      color: $color-back-grey;
    }
  }
}

section.news {
  background: #333333;
  @include lib-vendor-prefix-display(flex);
  @include lib-vendor-box-align(center);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

  .double-border {
    border-left: 10px solid #313131;
    border-right: 10px solid #313131;
  }

  .title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      @include lib-font-size(86px);
      @include lib-line-height(80px);
      color: transparent;
      -webkit-text-stroke: 1px $color-white;
    }
  }

  .subtitle {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      @include lib-font-size(190px);
      line-height: 170px;
      color: $color-red;
    }
  }
}

#news {
  background: #EAEAEA;
  overflow: hidden;

  .layer-news {
    transform: scaleX(-1);
    height: inherit;
    min-height: inherit;
    position: absolute;
    right: 0;

    svg {
      height: 100%;
      width: auto;
    }
  }

  .double-border {
    border-left: 10px solid #333333;
    border-right: 10px solid #333333;
    opacity: .02;
  }

  .main-wrapper {
    height: 100%;
    max-width: 1270px;
    @include lib-vendor-prefix-display(flex);
    @include lib-vendor-prefix-flex-direction(column);
    @include lib-vendor-box-align(center);
    justify-content: center;
    margin-right: 35px;
  }

  .owl-carousel {
    .card {
      padding: 93px 50px 61px 40px;
      height: 351px;
      width: max-content;
      margin-right: 0;
      margin-left: auto;
      @include lib-vendor-prefix-display(flex);
      @include lib-vendor-prefix-flex-direction(column);
      justify-content: space-between;
      box-sizing: unset !important;

      &:hover .image {
        opacity: 1;
      }

      .image {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      .layer {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #333333;
        opacity: .3;
      }

      .content,
      .date {
        width: 280px;
      }

      .content,
      .date div p {
        @include lib-font-size(16px);
        color: $color-white;
        font-weight: 400;
      }

      .date {
        padding-top: 44px;
        border-top: 1px solid #272628;
        @include lib-vendor-prefix-display(flex);
        justify-content: space-between;
        text-align: right;

        p {
          color: #FF0031;
          @include lib-font-size(86px);
          font-weight: 700;
        }

        div {
          padding-top: 15px;
        }
      }
    }
  }
}

section.img-slider {
  background: #272628;

  .content-mobile {
    display: none;

    .photo-item {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 174px;
      width: 291px;
    }
  }

  .double-border {
    border-left: 10px solid #000000;
    border-right: 10px solid #000000;
    opacity: .1;
  }

  .content {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    @include lib-vendor-prefix-display(flex);
    @include lib-vendor-box-align(center);
    justify-content: center;
    z-index: 2;

    &-mobile,
    &-main {
      width: 328px;

      .link-effect-2 {
        text-align: right;
        text-transform: uppercase;

        a:after {
          margin-left: 9px;
          display: inline-block;
          content: "";
          top: -2px;
          position: relative;
          width: 15px;
          height: 3px;
          border-top: 1px solid #FF0031;
          border-bottom: 1px solid #FF0031;
        }
      }

      .text {
        padding: 0 28px 40px 28px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
          color: #737373;
          font-weight: 700;
          @include lib-font-size(30px);

          strong {
            color: $color-white;
          }
        }
      }
    }

    .photo {
      position: absolute;
      width: max-content;
    }

    .photo1 {
      margin-bottom: 100px;
      left: 0;
      max-width: 33%;
    }

    .photo2 {
      margin-bottom: 500px;
      left: 29%;
    }

    .photo3 {
      margin-top: 700px;
      left: 3%;
    }

    .photo4 {
      margin-top: 500px;
      left: 7%;
    }

    .photo5 {
      margin-top: 400px;
      left: 15%;
    }

    .photo6 {
      margin-top: 550px;
      left: 28%;
    }

    .photo7 {
      margin-bottom: 550px;
      right: 31%;
    }

    .photo8 {
      margin-bottom: 580px;
      right: 5%;
    }

    .photo9 {
      margin-bottom: 250px;
      right: 14%;
    }

    .photo10 {
      margin-top: 560px;
      right: 35%;
    }

    .photo11 {
      margin-top: 300px;
      right: 8%;
      max-width: 25%;
    }

    .photo12 {
      margin-top: 200px;
      right: 3%;
    }
  }
}

.products {
  background: #272628;
  @include lib-vendor-prefix-display(flex);
  @include lib-vendor-box-align(center);
  width: 100%;
  justify-content: end;

  &.block {
    @include lib-vendor-prefix-display(block);
  }

  .bg {
    background-image: lib-url('a-back.svg');
    height: 906px;
    width: 1506px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    position: absolute;
  }

  p {
    @include lib-font-size(16px);
    color: $color-white;
    font-weight: 400;
  }

  #train,
  #passangers,
  #drivers {
    height: max-content;
  }

  .link-effect-2 {
    text-align: right;
    text-transform: uppercase;
    margin-top: 21px;

    a:after {
      margin-left: 9px;
      display: inline-block;
      content: "";
      top: -2px;
      position: relative;
      width: 15px;
      height: 3px;
      border-top: 1px solid #FF0031;
      border-bottom: 1px solid #FF0031;
    }
  }

  .title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      text-transform: uppercase;
      font-weight: 700;
      @include lib-font-size(86px);
      @include lib-line-height(80px);
      color: $color-white;

      strong {
        color: $color-red;
      }
    }
  }

  .double-border {
    border-left: 10px solid #242424;
    border-right: 10px solid #242424;
  }

  #passangers {
    width: 100%;
    .buf-img {
      position: absolute;
      top: 245px;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: lib-url('blue-seats.png');
      width: 605px;
      height: 470px;

      &.aviation {
        background-image: lib-url('a1.png');
        z-index: 2;
      }

      div {
        background: #272628;
        opacity: .3;
        width: 100%;
        height: 100%;
      }
    }

    .nav.tablet {
      display: none;
    }

    .nav {
      margin-top: auto;
      margin-bottom: 0;
      margin-right: unset;
    }

    .links {
      margin-top: auto;
      margin-bottom: 0;
    }

    .links,
    .link-effect-2 {
      width: max-content;
    }

    .main-wrapper {
      @include lib-vendor-prefix-display(flex);
      justify-content: space-between;
      top: -40px;
    }

    .owl-carousel {
      width: 905px;
      margin-right: 0;
      margin-left: auto;

      .item {
        height: 531px;
        width: 905px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .description {
      width: 355px;
      background: #FF0031;
      padding: 30px 115px 50px 40px;
      margin-right: 0;
      margin-left: auto;
    }

    .description.mobile {
      display: none;
    }
  }

  #drivers {
    width: 95%;
    .main-wrapper {
      @include lib-vendor-prefix-display(flex);
    }

    .link-effect-2 {
      text-align: left;
    }

    .nav {
      margin-top: 0;
      top: 202px;

      &.tablet {
        display: none;
      }
    }

    .left-desc {
      position: absolute;
      top: 106px;
      z-index: 2;

      .title {
        margin-left: 99px;
      }
    }

    .right-desc {
      width: 273px;
      margin-left: 44px;
      margin-top: 176px;
    }

    .layer {
      position: absolute;
      right: 0;
      background: #1E1E1E;
      height: 502px;
      width: 75%;
      z-index: 2;
    }

    .owl-carousel {
      margin-top: 42px;
      margin-left: 415px;
      width: 336px;
    }

    img {
      width: 336px;
      height: auto;
    }
  }

  #train {
    //padding-top: 25px;
    //padding-bottom: 114px;

    .main-wrapper {
      @include lib-vendor-prefix-display(flex);
      justify-content: space-between;
    }

    .left-desc {
      top: -95px;
    }

    .right-desc {
      margin-top: 42px;
      margin-right: 130px;

      p {
        width: 355px;
      }
    }

    .title {
      margin-left: 100px;
    }

    .item {
      margin-left: auto;
      margin-right: 0;
      width: 1307px;
      height: 470px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}