@import "blocks/hero";

.back-grey {
    background-color: $color-page-back-grey;
}

.back-grey2 {
  background-color: $color-back-grey;
}

.back-white {
  background-color: $color-page-back-white;
}

.back-red {
  background-color: $color-red;
}

.back-black {
  background-color: $color-back-grey;
}

.page {
  width: 100%;
  height: 100vh;
  max-width: none;
  z-index: 0;

  .double-border {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 170px;
    z-index: 1;
  }

  .content {
    height: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 50px;
    
    .text {
      margin: 0;
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
      z-index: 3;
    }
  }
}

.p1 {

  .content {
    align-items: flex-start;
    position: relative;

    .photo {
      position: absolute;
      right: 344px;
      height: 100%;
    }

    .text {
      @include lib-font-size(86px);
      @include lib-line-height(80px);
      text-align: left;
    }

    .border {
      color: transparent;

      .white {
        -webkit-text-stroke: 1px $color-white;
      }

      .black {
        -webkit-text-stroke: 1px $color-back-grey;
      }
    }

    .bold {
      color: $color-back-grey;

      .white {
        color: $color-white;
      }
    }

    .right-panel {
      height: 100%;
      backdrop-filter: blur(5px);
      position: absolute;
      right: 0;
      z-index: 4;
    }
  }
}

.p2 {

  .double-border {
    border-left: 10px solid $color-page-border-grey;
    border-right: 10px solid $color-page-border-grey;
  }

  .content {

    .text {
      @include lib-font-size(86px);

      .border {
        color: transparent;
        -webkit-text-stroke: 1px $color-white;
  
        .red {
          -webkit-text-stroke: 1px $color-red;
        }
      }
  
      .bold {
        @include lib-font-size(190px);
        line-height: 170px;
        color: $color-back-grey;
      }
    }
  }
}

.p3 {

  .layer {
    width: 1068px;
    height: 579px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: cover;
    z-index: 1;
    background-image: lib-url-svg('bg-1.svg');
    background-position: right;
  }

  .double-border {
    border-left: 10px solid $color-p3-border-grey;
    border-right: 10px solid $color-p3-border-grey;
  }

  .content {
    align-items: flex-start;
    z-index: 4;

    .text {
      @include lib-font-size(86px);
      @include lib-line-height(80px);
      text-align: left;

      .border {
        color: transparent;
        -webkit-text-stroke: 1px $color-white;
  
        .red {
          -webkit-text-stroke: 1px $color-red;
        }
      }
  
      .bold {
        color: $color-white;
  
        .red {
          color: $color-red;
        }
      }
    }

    .items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      z-index: 3;
      list-style-type: none;
      padding: 0;
      margin-top: 50px;

      .item {
        width: 100%;
        max-width: max-content;
        color: #FF0031;
        font-size: 50px;
        font-weight: 500;
        margin-right: 28px;

        .description {
          font-size: 16px;
          font-weight: 400;
          color: #a9a9a9;
          width: 100%;
          max-width: 210px;
          margin-left: 30px;
          
          .white {
            color: $color-white;
          }
        }
      }

      .item::before {
        display: inline-block;
        content: "";
        width: 10px;
        height: 10px;
        background-color: #FF0031;
        margin: 13px 0;
        margin-right: 15px;
      }
    }
  }
}

.p4 {

  .double-border {
    border-left: 10px solid $color-page-border-white;
    border-right: 10px solid $color-page-border-white;
  }

  .content {

    .text {
      @include lib-font-size(86px);
      @include lib-line-height(80px);

      .border {
        color: transparent;
        -webkit-text-stroke: 1px $color-back-grey;
      }
  
      .bold {
        color: $color-red;
      }
    }
  }
}

.p5 {
  position: relative;
  overflow: hidden;

  .double-border {
    border-left: 10px solid $color-p3-border-grey;
    border-right: 10px solid $color-p3-border-grey;
  }

  .map {
    position: absolute;
    margin-top: -100px;

    .content {
      position: relative;
      margin-left: -140px;
      margin-top: 200px;
    }

    .map-image {
      width: 100%;
      min-width: 2000px;
    }

    .city {
      position: absolute;
      @include lib-font-size(14px);
      color: $color-p3-descrp-grey;
    }

    .c1 {
      top: 375px;
      left: 200px;
    }

    .c2 {
      top: 600px;
      left: 230px;
    }

    .c3 {
      top: 455px;
      left: 580px;
    }

    .c4 {
      top: 585px;
      left: 720px;
    }
  }

  .content {
    align-items: flex-start;
    position: relative;
    overflow: unset;

    .text {
      text-align: left;
      @include lib-font-size(86px);
      @include lib-line-height(80px);
      color: $color-white;

      p {
        margin: 0;
      }

      .red {
        color: $color-red;
      }
    }

    .cities {
      display: flex;
      align-items: center;
      @include lib-font-size(14px);
      margin-top: 20px;
      margin-left: 5px;
      z-index: 3;

      .grey {
        color: $color-p3-descrp-grey;
      }

      .red {
        color: $color-red;
      }

      img {
        margin-left: 10px;
      }
    }

    .cities::before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 3px;
      border-top: 1px solid $color-red;
      border-bottom: 1px solid $color-red;
      margin-right: 21px;
    }

    .description {
      width: 100%;
      max-width: 435px;
      margin-top: 105px;
      margin-left: calc(100% - 435px);
      z-index: 3;

      .white {
        color: $color-white;
        @include lib-font-size(30px);
        font-weight: 600;
      }
    }
  }
}

.p6 {

  .content {

    .text {

      .bold {

        .black {
          @include lib-font-size(190px);
          line-height: 170px;
          padding-bottom: 10px;
          color: $color-back-grey;
        }

        .white {
          @include lib-font-size(86px);
          @include lib-line-height(80px);
          color: $color-white;
        }
      }
    }
  }
}

.p7 {

  .double-border {
    border-left: 10px solid $color-p3-border-grey;
    border-right: 10px solid $color-p3-border-grey;
  }

  .content {
    position: relative;

    .photo {
      position: absolute;
      width: max-content;
    }
  
    .photo1 {
      margin-bottom: 100px;
      left: 0;
      max-width: 33%;
    }
  
    .photo2 {
      margin-bottom: 500px;
      left: 29%;
    }
  
    .photo3 {
      margin-top: 700px;
      left: 3%;
    }
  
    .photo4 {
      margin-top: 500px;
      left: 7%;
    }
  
    .photo5 {
      margin-top: 400px;
      left: 15%;
    }
  
    .photo6 {
      margin-top: 550px;
      left: 28%;
    }
  
    .photo7 {
      margin-bottom: 550px;
      right: 31%;
    }
  
    .photo8 {
      margin-bottom: 580px;
      right: 5%;
    }
  
    .photo9 {
      margin-bottom: 250px;
      right: 14%;
    }
  
    .photo10 {
      margin-top: 560px;
      right: 35%;
    }
  
    .photo11 {
      margin-top: 300px;
      right: 8%;
      max-width: 25%;
    }
  
    .photo12 {
      margin-top: 200px;
      right: 3%;
    }

    .border {
      @include lib-font-size(86px);
      @include lib-line-height(80px);
      color: transparent;
      -webkit-text-stroke: 1px $color-back-grey;
    }

    .text {
      @include lib-font-size(30px);
      color: $color-font-grey;
      text-transform: none;
      width: 100%;
      max-width: 275px;
      text-align: left;

      .white {
        color: $color-white;
      }
    }

    .news {
      margin-top: 40px;
      margin-left: 130px;
      @include lib-font-size(14px);
      color: $color-red;
      text-transform: uppercase;
      z-index: 3;
    }

    .news::after {
      content: '';
      display: inline-block;
      width: 30px;
      height: 3px;
      border-top: 1px solid $color-red;
      border-bottom: 1px solid $color-red;
      margin-left: 10px;
      margin-bottom: 2px;
    }

    .news:hover {
      color: $color-white;
    }
  }
}

.p8 {
  
  .content {

    .text {
      width: 100%;
      max-width: 1100px;

      .bold {
        @include lib-font-size(190px);
        line-height: 170px;
        color: $color-back-grey;
      }

      .white {
        color: $color-white;
        margin-top: 54px;
        @include lib-font-size(86px);
        @include lib-line-height(80px);

        .grey {
          color: $color-back-grey;
        }
    
      }
    }
  }
}

.p10 {
  @include lib-vendor-prefix-display(flex);
  @include lib-vendor-box-align(center);

  .double-border {
    border-left: 10px solid $color-p3-border-grey;
    border-right: 10px solid $color-p3-border-grey;
  }

  .back-rect {
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 63%;
    height: 100%;
    max-height: 502px;
    background-color: $color-rect-back;
  }

  .content {
    position: relative;

    .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 970px;
      margin-left: 130px;
    }

    .text {
      @include lib-font-size(86px);
      @include lib-line-height(80px);
      text-align: left;
      margin-bottom: 100px;

      .red {
        color: $color-red;
      }

      .white {
        color: $color-white;
      }
    }

    img {
      position: absolute;
      margin-top: 170px;
      margin-left: 80px;
    }

    .description {
      width: 100%;
      max-width: 300px;
      margin-top: 70px;

      p {
        font-size: 16px;
        color: $color-white;
        line-height: 22px;
        text-align: left;
        text-transform: none;
        padding-bottom: 15px;
        margin: 0;
      }

      a {
        font-size: 16px;
        color: $color-red;
        text-transform: uppercase;
      }

      a::after {
        content: '';
        display: inline-block;
        width: 15px;
        height: 3px;
        border-top: 1px solid $color-red;
        border-bottom: 1px solid $color-red;
        margin-left: 15px;
        margin-bottom: 4px;
      }
      a:hover {
        color: $color-white;
      }
    }
  }
}

.p11 {
  display: flex;
  align-items: center;

  .double-border {
    border-left: 10px solid $color-p3-border-grey;
    border-right: 10px solid $color-p3-border-grey;
  }

  .slider {
    width: 100%;

    .content {
      position: relative;
  
      img {
        margin-left: auto;
      }
  
      .text {
        @include lib-font-size(86px);
        @include lib-line-height(80px);
        text-align: left;
        position: absolute;
        margin-right: 580px;
        margin-top: 230px;
  
        .red {
          color: $color-red;
        }
  
        .white {
          color: $color-white;
        }
      }
  
      .description {
        width: 100%;
        max-width: 380px;
        margin-top: 42px;
        margin-left: 640px;
  
        p {
          font-size: 16px;
          color: $color-white;
          line-height: 22px;
          text-align: left;
          text-transform: none;
          padding-bottom: 15px;
          margin: 0;
        }
  
        a {
          font-size: 16px;
          color: $color-red;
          text-transform: uppercase;
        }
  
        a::after {
          content: '';
          display: inline-block;
          width: 15px;
          height: 3px;
          border-top: 1px solid $color-red;
          border-bottom: 1px solid $color-red;
          margin-left: 15px;
          margin-bottom: 4px;
        }
        a:hover {
          color: $color-white;
        }
      }
    }
  }
}

.p12 {

  .double-border {
    border-left: 10px solid $color-page-border-grey;
    border-right: 10px solid $color-page-border-grey;
  }

  .content {

    .text {
      @include lib-font-size(86px);

      .border {
        @include lib-line-height(80px);
        color: transparent;
        -webkit-text-stroke: 1px $color-white;
      }
  
      .bold {
        @include lib-font-size(190px);
        line-height: 170px;
        color: $color-red;
      }
    }
  }
}