body {
    font-family: 'Roboto', sans-serif;
}

.page-template-page-products .main-wrapper{
    max-width: 1150px;
    height: 100%;
}

.flex-block {
    height: 100%;
    @include lib-vendor-prefix-display(flex);
    justify-content: space-between;
}

section {
    position: relative;

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    em,
    strong {
        margin: 0;
    }
}

.first {
    background-color: $color-back-grey;
    height: 805px;

    .letter {
        height: 100%;
        width: 100%;
        position: absolute;
        left: -580px;
        background-size: cover;
        background-image: url("../img/svg/a-back.svg");
    }

    .flex-block {
        flex-direction: column;
        justify-content: end;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            &:last-child {
                margin-bottom: 350px;
            }

            font-size: 71px;
            font-weight: 600;
            text-transform: uppercase;
            width: 100%;
            max-width: 700px;
            font-style: normal;

            strong em,
            em strong {
                font-style: normal;
            }

            strong em {
                color: transparent;
                -webkit-text-stroke: 1px $color-red;
            }

            em strong {
                color: $color-white;
            }
        }
    }

    .buttons {
        @include lib-vendor-prefix-display(flex);
        margin-top: 110px;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
    }
    .buttons a{
        display: flex;
        align-items: end;
    }
    .buttons div.active {
        min-width: 425px;
        max-height: 235px;
        border-top: 2px solid $color-red;
        .grid{
            max-height: 235px;
            max-width: 100%;
        }
        h2{
            top: 129px;
        }
    }
    .buttons div {
        height: 100%;
        max-height: 179px;
        width: 100%;
        max-width: 280px;
        position: relative;
        border-top: 1px solid $color-red;
        overflow: hidden;

        .grid {
            position: absolute;
            background: repeating-linear-gradient( to right, rgba(2555, 255, 255, 0), rgba(0, 0, 0, .2) 3px);
            z-index: 3;
        }

        img {
            filter: blur(4px);
            opacity: 0.5;
        }

        h2 {
            position: absolute;
            top: 78px;
            left: 51px;
            z-index: 3;
        }

        strong em,
        em strong {
            font-style: normal;
            font-size: 26px;
        }

        strong em {
            color: $color-red;
        }

        em strong {
            color: $color-white;
        }
    }

    .buttons div:hover {
        max-height: 234px;
        border-top: none;

        & img {
            filter: blur(0);
        }
        h2{
            top: 129px;
        }
    }

    .logo {
        position: absolute;
        top: 30px;
        right: 250px;
    }
}

.slider-info {
    background-color: $color-back-grey;
    height: 530px;
    overflow: hidden;
    .main-wrapper{
       max-width: 1440px;
        z-index: 3;
    }
    .main-img{
        position: absolute;
        left: 0;
        overflow: hidden;
        width: 100%;
        .grid {
            position: absolute;
            left: 0;
            height: 100%;
            width: 100%;
            max-width: 39.6%;
            background: repeating-linear-gradient( to right, rgba(2555, 255, 255, 0), rgba(0, 0, 0, .2) 3px);
            z-index: 3;
        }
        img {
            filter: blur(4px);
            opacity: 0.5;
            width: 100%;
            height: auto;
            display: block;
            max-height: 530px;
        }
    }

    .flex-block {
        justify-content: space-between;
        position: relative;

        div:first-of-type {
            margin-top: 272px;
            margin-left: 165px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                &:last-child {
                    margin-bottom: 100px;
                }

                font-size: 71px;
                font-weight: 600;
                text-transform: uppercase;
                width: 100%;
                max-width: 500px;
                font-style: normal;
                z-index: 4;

                strong em,
                em strong {
                    font-style: normal;
                }

                strong em {
                    color: $color-white;
                }

                em strong {
                    color: transparent;
                    -webkit-text-stroke: 1px $color-white;
                }
            }
        }

        div:last-child {
            position: absolute;
            right: 0;
            width: 100%;
            max-width: 445px;
            margin-top: 112px;
            padding-top: 30px;
            border-top: 1px solid $color-white;

            p {
                color: $color-p3-descrp-grey;
                font-size: 16px;
                line-height: 22px;
                width: 100%;
                max-width: 230px;
            }
        }
    }
}

.slider-content {
    height: max-content;
    position: relative;

    .owl-carousel {
        display: block;
    }

    .slide-arrow{
        width: 100%;
        display: flex;
        margin: 50px 0 50px 33%;

        .line {
            background-color: $color-red;
            height: 1px;
            width: 100%;
            max-width: 157px;

            .line-color {
                width: 100%;
                background-color: $color-black;
                height: 1px;
            }
        }
    }

    .arrow-right,
    .arrow-left {
        cursor: pointer;
        height: 10px;
        padding-top: 10px;
    }


    .arrow-right::after {
        content: '';
        width: 13px;
        height: 13px;
        position: absolute;
        transform: rotate(45deg);
        right: -27px;
        top: -7px;
    }

    .arrow-left::before {
        content: '';
        width: 13px;
        height: 13px;
        position: absolute;
        transform: rotate(-135deg);
        left: -27px;
        top: -7px;
    }

    .slider .content {
        position: relative;
        overflow: hidden;

        .flex-block {
            flex-direction: column;
        }

        .main-wrapper .flex-block img {
            position: absolute;
            top: 53px;
            margin-left: auto;
            margin-right: auto;
            left: -50px;
            right: 0;
            z-index: 3;
            width: max-content;
        }

        .main-wrapper .flex-block .top {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .main-wrapper .flex-block .top .left {
            margin-top: 200px;
            z-index: 2;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                font-size: 71px;
                font-weight: 600;
                text-transform: uppercase;
                width: 100%;
                max-width: 700px;
                font-style: normal;
                z-index: 4;

                strong em,
                em strong {
                    font-style: normal;
                }
            }

            a {
                font-size: 14px;
                text-transform: uppercase;
                margin-top: 40px;
                margin-left: 100px;
                position: absolute;
            }

            a::after {
                content: "";
                display: inline-block;
                height: 3px;
                width: 15px;
                margin-bottom: 2px;
                margin-left: 16px;
            }
        }

        .main-wrapper .flex-block .top .right {
            height: 600px;
            margin-top: 275px;
            margin-left: 50px;
            z-index: 2;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                font-size: 16px;
                width: 100%;
                max-width: 270px;
                margin-bottom: 20px;
                line-height: 22px;
            }
        }

        .main-wrapper .flex-block .bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 100px;

            .description {
                text-transform: lowercase;
                margin-right: 100px;
                margin-top: 7px;
            }
        }

        .main-wrapper .flex-block .bottom .items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            div {
                width: 100%;
                max-width: 390px;
                margin-bottom: 160px;
            }

            div h3 {
                font-size: 30px;
                font-weight: 500;
                text-transform: lowercase;

                &::before {
                    content: "";
                    height: 10px;
                    width: 10px;
                    display: inline-block;
                    margin-right: 20px;
                    margin-bottom: 3px;
                }
            }

            div .text {
                font-size: 16px;
                line-height: 25px;
                margin-top: 20px;
                margin-left: 32px;
                z-index: 4;
            }

            div p:last-child {
                font-size: 190px;
                font-weight: 500;
                color: transparent;
                position: absolute;
                right: -60px;
                top: 0px;
                z-index: 3;
            }
        }

        .back {
            position: absolute;
            height: 100%;
            width: 100%;
            background-size: cover;
        }

        .dot {
            position: absolute;
            height: 9px;
            width: 9px;
            background-color: $color-red;
            border-radius: 50%;
            cursor: pointer;
            z-index: 5;
            border-radius: 50%;
        }

        .dot::after,
        .dot::before {
            content: "";
            position: absolute;
            top: -1px;
            left: -1px;
            width: 100%;
            height: 100%;
            border: 1px solid $color-white;
            border-radius: 50%;
        }

        .dot::after {
            animation: pulsate-1 1.5s linear;
            animation-iteration-count: infinite;
        }

        .dot::before {
            animation: pulsate-2 1.5s linear;
            animation-iteration-count: infinite;
        }


        @keyframes pulsate-1 {
            0% {
                transform: scale(0, 0);
                opacity: 1;
            }
            50% {
                transform: scale(1, 1);
                opacity: .5;
            }
            100% {
                transform: scale(2, 2);
                opacity: 0;
            }
        }

        @keyframes pulsate-2 {
            0% {
                transform: scale(0, 0);
                opacity: 1;
            }
            50% {
                transform: scale(2, 2);
                opacity: .5;
            }
            100% {
                transform: scale(3, 3);
                opacity: 0;
            }
        }

        .dot span {
            visibility: hidden;
            width: 300px;
            padding: 21px 23px;
            font-size: 16px;
            background-color: $color-back-grey;
            color: $color-p3-descrp-grey;
            position: absolute;
            bottom: 25px;
            z-index: 7;
            margin-left: -50px;
        }

        .dot span::after {
            content: "";
            position: absolute;
            bottom: -18px;
            left: 47px;
            border: 8px solid transparent;
            border-top: 10px solid $color-red;
        }

        .dot:hover {
            background-color: $color-white;

            span {
                visibility: visible;
            }
        }

        .main-wrapper .flex-block div.back:nth-child(1){
            max-height: 805px;
            max-width: 677px;
            top: 0;
            margin-left: auto;
            margin-right: auto;
            left: -50px;
            right: 0;
            z-index: 2;
        }

        .back.right {
            max-height: 745px;
            width: 100%;
            max-width: calc(50% + 280px);
            top: 130px;
            right: 0;
        }

        .back.left {
            max-height: 745px;
            width: 100%;
            max-width: 50%;
            top: 635px;
            left: 0;
            transform: rotate(180deg);
        }
        .main-wrapper{
            overflow: unset;
            height: calc(100% + 15px);
        }
        .main-wrapper .flex-block div.back:nth-child(2) {
            max-height: 100px;
            width: 100%;
            max-width: 1105px;
            top: 93px;
            right: -510px;
            z-index: 2;
        }
    }

    .slider .theme-red {
        background-color: $color-red;

        .arrow-right::after {
            border-top: 1px solid $color-red;
            border-right: 1px solid $color-red;
        }

        .arrow-left::before {
            border-top: 1px solid $color-red;
            border-right: 1px solid $color-red;
        }

        .main-wrapper .flex-block div.back:nth-child(1){
            background-image: url("../img/svg/theme-red-1.svg");
        }

        .back.right{
            background-image: url("../img/svg/theme-red-2.svg");
        }

        .back.left{
            background-image: url("../img/svg/theme-red-2.svg");
        }

        .main-wrapper .flex-block div.back:nth-child(2) {
            background-color: $color-white;
        }

        .dot-1 {
            top: 100px;
            right: 400px;
        }

        .dot-2 {
            top: 370px;
            right: 430px;
        }

        .dot-3 {
            top: 430px;
            right: 770px;
        }

        .dot-4 {
            top: 580px;
            right: 710px;
        }

        .main-wrapper .flex-block .top .left {

            strong em {
                color: $color-page-back-grey;
            }

            em strong {
                color: $color-white;
            }

            a {
                color: $color-page-back-grey;
            }

            a:hover {
                color: $color-white;
            }

            a::after {
                border-top: 1px solid $color-page-back-grey;
                border-bottom: 1px solid $color-page-back-grey;
            }
        }

        .main-wrapper .flex-block .top .right {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                color: $color-white;
            }
        }

        .main-wrapper .flex-block .bottom .description {
            color: $color-page-back-grey;
        }

        .main-wrapper .flex-block .bottom .items {

            div h3 {
                color: $color-page-back-grey;

                &::before {
                    background-color: $color-page-back-grey;
                }
            }

            div .text {
                color: $color-white;
            }

            div p:last-child {
                -webkit-text-stroke: 1px $color-page-back-grey;
            }
        }
    }

    .slider .theme-dark {
        background-color: $color-back-grey;

        .arrow-right::after {
            border-top: 1px solid $color-red;
            border-right: 1px solid $color-red;
        }

        .arrow-left::before {
            border-top: 1px solid $color-red;
            border-right: 1px solid $color-red;
        }

        .main-wrapper .flex-block div.back:nth-child(1){
            background-image: url("../img/svg/theme-dark-1.svg");
        }

        .back.right{
            background-image: url("../img/svg/theme-dark-2.svg");
        }

        .back.left{
            background-image: url("../img/svg/theme-dark-2.svg");
        }

        .main-wrapper .flex-block div.back:nth-child(2){
            background-color: $color-white;
        }

        .dot-1 {
            top: 100px;
            right: 400px;
        }

        .dot-2 {
            top: 380px;
            right: 780px;
        }

        .dot-3 {
            top: 500px;
            right: 470px;
        }

        .dot-4 {
            top: 700px;
            right: 540px;
        }

        .main-wrapper .flex-block .top .left {

            strong em {
                color: $color-red;
            }

            em strong {
                color: $color-white;
            }

            a {
                color: $color-red;
            }

            a:hover {
                color: $color-white;
            }

            a::after {
                border-top: 1px solid $color-red;
                border-bottom: 1px solid $color-red;
            }
        }

        .main-wrapper .flex-block .top .right {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                color: $color-p3-descrp-grey;
            }
        }

        .main-wrapper .flex-block .bottom .description {
            color: $color-font-grey;
        }

        .main-wrapper .flex-block .bottom .items {

            div h3 {
                color: $color-red;

                &::before {
                    background-color: $color-red;
                }
            }

            div .text {
                color: $color-white;
            }

            div p:last-child {
                -webkit-text-stroke: 1px $color-nums-dark;
            }
        }
    }

    .slider .theme-light {
        background-color: $color-page-back-white;

        .line {
            background-color: $color-black;

            .line-color {
                width: 100%;
                background-color: $color-black;
            }
        }

        .arrow-right::after {
            border-top: 1px solid $color-white;
            border-right: 1px solid $color-white;
        }

        .arrow-left::before {
            border-top: 1px solid $color-white;
            border-right: 1px solid $color-white;
        }

        .main-wrapper .flex-block div.back:nth-child(1){
            background-image: url("../img/svg/theme-light-1.svg");
        }

        .back.right{
            background-image: url("../img/svg/theme-light-2.svg");
        }

        .back.left{
            background-image: url("../img/svg/theme-light-2.svg");
        }

        .main-wrapper .flex-block div.back:nth-child(2){
            background-color: $color-red;
        }

        .dot-1 {
            top: 90px;
            right: 580px;
            background-color: $color-back-grey;
        }

        .dot-2 {
            top: 230px;
            right: 380px;
        }

        .dot-3 {
            top: 230px;
            right: 650px;
        }

        .dot-4 {
            top: 320px;
            right: 540px;
        }

        .dot-5 {
            top: 510px;
            right: 560px;
        }

        .dot-6 {
            top: 520px;
            right: 770px;
        }

        .main-wrapper .flex-block .top .left {

            strong em {
                color: $color-red;
            }

            em strong {
                color: $color-back-grey;
            }

            a {
                color: $color-red;
            }

            a:hover {
                color: $color-back-grey;
            }

            a::after {
                border-top: 1px solid $color-red;
                border-bottom: 1px solid $color-red;
            }
        }

        .main-wrapper .flex-block .top .right {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                color: $color-font-grey;
            }
        }

        .main-wrapper .flex-block .bottom .description {
            color: $color-font-grey;
        }

        .main-wrapper .flex-block .bottom .items {

            div h3 {
                color: $color-red;

                &::before {
                    background-color: $color-red;
                }
            }

            div .text {
                color: $color-font-grey;
            }

            div p:last-child {
                -webkit-text-stroke: 1px $color-nums-light;
            }
        }
    }
}

.bottom-buttons {
    background-color: $color-back-grey;
    height: 305px;

    .main-wrapper {
        max-width: none;
    }

    .buttons {
        @include lib-vendor-prefix-display(flex);
        z-index: 2;
        cursor: pointer;
        width: 100%;
    }

    .buttons div {
        height: 100%;
        width: 100%;
        position: relative;
        border-top: 1px solid $color-red;
        overflow: hidden;

        .grid {
            position: absolute;
            background: repeating-linear-gradient( to right, rgba(2555, 255, 255, 0), rgba(0, 0, 0, .2) 3px);
            z-index: 3;
        }

        img {
            filter: blur(4px);
            opacity: 0.5;
            width: 100%;
        }

        .other {
            position: absolute;
            top: 165px;
            left: 135px;
            text-transform: uppercase;
            font-size: 18px;
            color: $color-p3-descrp-grey;
            z-index: 3;
        }

        h2 {
            position: absolute;
            top: 205px;
            left: 135px;
            z-index: 3;
        }

        strong em,
        em strong {
            font-style: normal;
            font-size: 26px;
        }

        strong em {
            color: $color-red;
        }

        em strong {
            color: $color-white;
        }
    }

    .buttons div:hover {
        border-top: 2px solid $color-red;
        height: calc(100% - 1px);

        & img {
            filter: blur(0);
        }
    }
}

.trigger:not(.show) {
    display: none;
}