@media screen and (max-width: 1150px) {
  .footer .footer-menu {
    padding: 80px 50px 30px 50px;
  }
}

@media screen and (max-width: 800px) {
  .footer .footer-menu {
    .block.space:not(:last-child),
    .right {
      width: 50%;
    }

    .block.space:not(:last-child) {
      justify-content: unset;

      .copyrights {
        padding-top: 70px;
      }
    }

    .right {
      @include lib-vendor-prefix-display(flex);
      @include lib-vendor-prefix-flex-direction(row);
      @include lib-vendor-prefix-flex-wrap(wrap);

      .block {
        width: 50%;
        margin-bottom: 50px;

        &.space {
          text-align: center;
        }
      }
    }
  }
}

@media #{$media_mobile} {
  .footer .marquee {
    @include lib-vendor-prefix-display(flex);

    .text {
      @include lib-font-size(130px);
      @include lib-vendor-prefix-display(flex);
      @include lib-vendor-box-align(center);
    }
  }
}

@media screen and (max-width: 600px) {
  .footer .footer-menu .block .items {
    @include lib-vendor-box-align(center);

    a.item {
      width: max-content;
    }
  }

  .footer .footer-menu .block .copyrights {
    display: none;
  }

  .footer p.copyrights.mobile {
    display: block;
    color: $color-font-grey;
    @include lib-font-size(14px);
  }

  .footer .footer-menu {
    @include lib-vendor-prefix-flex-direction(column);
    text-align: center;
    padding: 57px 25px 47px 25px;

    .block.space:not(:last-child) {
      margin-bottom: 35px;
    }

    .right .block.space {
      @include lib-vendor-prefix-flex-direction(row);
      justify-content: center;
      @include lib-vendor-box-align(center);

      a:nth-child(2) {
        margin-right: 36px;
        margin-left: 36px;
      }
    }

    .block.space:not(:last-child),
    .right,
    .right .block {
      width: 100%;
    }
  }
}

@media #{$media_mobile_s} {
  .footer .marquee {
    display: none;
  }

  .footer .footer-menu {
    height: 100%;
  }

  .footer .marquee {
    .text {
      @include lib-font-size(100px);
    }
  }
}