@media #{$media_iPad_landscape} {
    .header .full-menu .menu .left .menu-pages .menu-page {
        @include lib-font-size(40px);
    }
}

@media screen and (max-width: 1150px) {
    .header .block-menu .title,
    .header .block-menu .menu__btn {
        background: #333333;
    }

    .header a.logo {
        display: block;
        position: absolute;
        top: 30px;
        left: 20px;

        svg path {
            fill: #333333;
        }

        svg:hover path {
            fill: $color-white;
        }
    }

    .header .block-menu {
        right: 35px;
    }

    .header .full-menu {
        .logo {
            left: 20px;
            top: 30px;
        }

        .back-image,
        .back-image .filter {
            width: 100%;
        }

        .back-image {
            position: absolute;
            bottom: 0;

            img {
                max-width: 100%;
                width: 100%;
                height: auto;
                bottom: -100px;
            }
        }

        .menu {
            height: max-content;
            width: 100%;
            padding: 136px 52px 70px 114px;

            .right {
                right: 65px;
            }
        }
    }
}

@media #{$media_desktop} {
    .full-menu {
        .left {
            .pages {
                .page{
                    @include lib-font-size(20px);
                }
            }
        }
    }
}

@media screen and (max-width: 572px) {
    .header .full-menu .logo {
        display: none;
    }

    .header .full-menu .menu {
        width: calc(100% - 63px);
    }

    .header .block-menu {
        width: 60px;
        right: 22px;

        .title {
            padding-left: 19.5px;
            padding-right: 19.5px;
            margin-top: 40px;
            margin-bottom: 0;
        }

        .menu__btn {
            width: 60px;
            height: 60px;
        }
    }

    .header .full-menu {
        height: 100%;
        overflow-y: scroll;

        .back-image img {
            bottom: 0;
        }

        .menu {
            padding: 41px 29px 32px 34px;

            .right {
                right: 40px;
            }

            .left .menu-pages .menu-page {
                margin-bottom: 29px;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}