@media screen and (min-width: 1921px) {
  #map .map-content {
    right: 30px;
    left: unset;
  }
}

@media #{$media_iPad_landscape} {
  .page-template-page-home .main-wrapper {
    padding: 0 20px;
    width: calc(100% - 40px);
  }

  .hero .right .description a {
    left: unset;
  }

  #map {
    .map-content {
      left: -35px;
    }

    .title {
      margin-top: 114px;

      .title-general {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
          @include lib-font-size(75px);
        }
      }
    }

    p.description {
      margin-bottom: 77px;
      width: 354px;
    }
  }

  section.sixth-section .subtitle {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      @include lib-line-height(40px);
      @include lib-font-size(40px);
    }
  }

  section.sixth-section .title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      @include lib-line-height(90px);
      @include lib-font-size(90px);
    }
  }

  section.news {
    .title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        @include lib-font-size(71px);
        @include lib-line-height(60px);
      }
    }

    .subtitle {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        @include lib-font-size(120px);
        @include lib-line-height(140px);
      }
    }
  }


  section.img-slider {
    .content {
      .photo1 {
        margin-bottom: 350px;
        left: 0;
        max-width: 30%;
      }

      .photo2 {
        margin-bottom: 650px;
        left: 29%;
      }

      .photo3 {
        margin-top: 500px;
        left: 3%;
      }

      .photo4 {
        margin-top: 300px;
        left: 12%;
      }

      .photo5 {
        margin-top: 30px;
        left: 3%;
      }

      .photo6 {
        margin-top: 630px;
        left: 20%;
      }

      .photo7 {
        margin-bottom: 730px;
        right: 31%;
      }

      .photo8 {
        margin-bottom: 100px;
        right: 5%;
      }

      .photo9 {
        margin-bottom: 450px;
        right: 0;
      }

      .photo10 {
        margin-top: 460px;
        right: 30%;
      }

      .photo11 {
        margin-top: 28%;
        right: 0;
        max-width: 23%;
      }

      .photo12 {
        margin-top: 600px;
        right: 3%;
      }
    }
  }

  .products {
    .title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        @include lib-font-size(71px);
        @include lib-line-height(60px);
      }
    }

    #passangers {

      .nav.tablet {
        @include lib-vendor-prefix-display(flex);
        position: absolute;
        right: 0;
        top: 120px;
      }

      .links {
        margin-bottom: -25px;
      }

      .description {
        z-index: 2;
        padding: 25px 20px 50px 40px;
      }

      .main-wrapper {
        z-index: 3;
        width: calc(100% - 20px);
        padding-left: 0;
        top: -30px;
      }

      .title {
        margin-left: 93px;
      }

      .buf-img {
        display: none;
      }

      .nav {
        display: none;
      }

      .owl-carousel {
        width: 100%;
        margin-right: 0;
        margin-left: auto;

        .item {
          width: 100%;
          height: 439px;
        }
      }
    }

    #drivers {
      .main-wrapper {
        @include lib-vendor-prefix-flex-direction(row-reverse);
        justify-content: space-between;
        margin-bottom: 100px;
      }

      .nav {
        display: none;
        margin-left: auto;
        margin-right: 0;
        top: -100px;

        &.tablet {
          @include lib-vendor-prefix-display(flex);
          position: absolute;
          top: 50px;
          z-index: 2;
        }
      }

      .layer {
        width: 85%;
      }

      .owl-carousel {
        margin: 16px 67px 0 0;
      }

      .right-desc {
        margin-left: 0;
        margin-top: 302px;
      }

      .left-desc {
        top: 151px;
        left: 20px;
        @include lib-vendor-prefix-display(flex);
        width: calc(100% - 30px);
        justify-content: space-between;
        z-index: 1;

        .title {
          margin-left: 0;
        }
      }
    }

    #train {
      padding-top: 45px;
      padding-bottom: 83px;
      padding-left: 20px;
      width: calc(100% - 20px);

      .title {
        margin-left: 73px;
      }

      .nav {
        margin-right: 20px;
        margin-left: auto;
        margin-top: 0;
        top: -455px;
      }

      .main-wrapper {
        @include lib-vendor-prefix-flex-direction(column);

        .left-desc {
          @include lib-vendor-prefix-display(flex);
          @include lib-vendor-prefix-flex-direction(column-reverse);
          justify-content: space-between;
          position: absolute;
          width: calc(100% - 20px);
          top: -54px;
        }

        .right-desc {
          margin-top: 120px;
          margin-right: 0;
          margin-left: auto;

          .link-effect-2 {
            text-align: left;
          }

          .links {
            width: 355px;
          }
        }
      }
    }
  }
}

@media #{$media_iPad_portrait} {
  #facts,
  #first-sentence {
    min-height: 1024px;
  }

  #first-sentence {
    .main-wrapper {
      padding: 0 65px;
      width: calc(100% - 130px);

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        &:first-child,
        &:last-child {
          @include lib-font-size(71px);
          @include lib-line-height(71px);
        }

        &:first-child {
          margin-top: 0;
        }

        &:nth-child(2) {
          @include lib-font-size(120px);
          @include lib-line-height(145px);
        }
      }
    }
  }

  #facts {
    .main-wrapper {
      width: calc(100% - 40px);
      padding: 0 20px;
    }

    .layer {
      height: 577px;
      width: 655px;
    }

    ul {
      @include lib-vendor-prefix-flex-wrap(wrap);
      row-gap: 85px;
    }

    .li-content {
      width: 270px;
    }
  ;

    ul li {
      width: 50%;
    }
  }

  #news {
    .owl-carousel {
      right: -80px;
    }

    .layer-news {
      right: unset;
    }

    .owl-carousel .card {
      padding: 93px 48px 50px 38px;

      .content,
      .date {
        width: 270px;
      }
    }
  }
}

@media screen and (max-width: 665px) {
  .products #passangers {
    .nav.tablet {
      right: 10px;
    }

    .description {
      display: none;

      &.mobile {
        display: block;
        padding: 0;
        background: unset;
        margin: 0;
      }
    }

    .owl-carousel .item {
      height: 173px;
    }

    .main-wrapper {
      flex-direction: column;
      padding-left: 30px;
      padding-right: 0;
      width: calc(100% - 30px);
      top: 0;
    }

    .title {
      margin-top: 40px;
      margin-bottom: 10px;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  #facts ul li {
    width: 100%;
  }

  #facts .li-content {
    width: 100%;
  }
}

@media #{$media_mobile_s} {
  .double-border {
    max-width: 120px;
  }


  #first-sentence {
    min-height: 680px;

    .main-wrapper {
      padding: 0 10px;
      width: calc(100% - 20px);

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        &:first-child,
        &:last-child {
          @include lib-font-size(40px);
          @include lib-line-height(40px);
        }

        &:first-child {
          margin-bottom: 30px;
        }

        &:nth-child(2) {
          @include lib-font-size(90px);
          @include lib-line-height(80px);
        }
      }
    }
  }

  #facts {
    height: max-content;
    min-height: unset;

    .layer {
      width: 100%;
      height: 363px;
      max-width: unset;
    }

    .title {
      padding-top: 80px;
      max-width: 300px;

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @include lib-font-size(40px);
        @include lib-line-height(40px);
      }
    }

    ul {
      row-gap: 35px;
      padding-bottom: 80px;
    }

    ul li {
      @include lib-font-size(40px);

      .dot {
        margin-top: 18px;
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 10px;
        @include lib-font-size(20px);
      }
    }
  }

  .fourth-section .main-wrapper {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include lib-font-size(40px);
      @include lib-line-height(40px);
    }
  }

  #map {
    min-height: 770px;

    .title {
      margin-top: 71px;

      .title-general {
        margin-bottom: 25px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
          @include lib-font-size(40px);
        }
      }
    }

    p.description {
      margin-bottom: 45px;
      align-self: flex-start;
      width: 100%;
      @include lib-font-size(16px);
      @include lib-line-height(25px);
    }

    .map-content {
      height: 414px;
      width: 872px;
      top: 190px;
      left: -35px;

      p.city {
        &.c1 {
          left: 57px;
          top: 155px;
        }

        &.c2 {
          left: 75px;
          top: 254px;
        }

        &.c3 {
          left: 220px;
          top: 194px;
        }

        &.c4 {
          left: 280px;
          top: 248px;
        }
      }
    }
  }

  section.sixth-section .subtitle {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      padding-top: 30px;
    }
  }

  section.news {
    .title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        @include lib-font-size(45px);
        @include lib-line-height(40px);
      }
    }

    .subtitle {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        @include lib-font-size(90px);
        @include lib-line-height(90px);
      }
    }
  }

  #news {
    height: max-content;
    min-height: unset;

    .main-wrapper {
      padding: 0;
      margin: 0;
      width: 100%;
    }

    .double-border {
      height: 100%;
    }

    .owl-carousel {
      margin-top: 115px;
      right: unset;

      .card {
        padding: 34px 35px 34px 24px;
        margin: 0 auto;

        .content,
        .date {
          width: 200px;
        }

        .date {
          padding-top: 34px;
        }
      }
    }

    .nav {
      margin: 51px auto 59px auto;
      justify-content: center;
    }
  }

  section.img-slider {
    .content {
      display: none;
    }

    .nav {
      margin: 0 0 43px auto;
    }

    .content-mobile {
      @include lib-vendor-prefix-display(flex);
      @include lib-vendor-prefix-flex-direction(column);
      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 152px;
      height: max-content;

      .text {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
          @include lib-font-size(18px);
          @include lib-line-height(30px);
        }
      }

      .links {
        margin-top: 43px;
      }

      .owl-carousel {
        right: 30px;
      }

      .text {
        padding-top: 141px;
        padding-bottom: 25px;
      }
    }
  }

  .products {
    .title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        @include lib-font-size(40px);
        @include lib-line-height(45px);
      }
    }

    #passangers {

      .nav.tablet {
        top: 70px;
      }

      .description {
        display: none;

        &.mobile {
          display: block;
          padding: 0;
          background: unset;
          margin: 0;
        }
      }

      .owl-carousel .item {
        height: 173px;
      }

      .main-wrapper {
        flex-direction: column;
        padding-left: 30px;
        padding-right: 0;
        width: calc(100% - 30px);
        top: 0;
      }

      .title {
        margin-top: 40px;
        margin-bottom: 10px;
        margin-left: 0;
      }
    }

    #drivers {
      overflow-x: hidden;

      .nav.tablet {
        top: 386px;
      }

      .owl-carousel {
        margin-top: 100px;
        margin-right: 0;
        right: -44px;
      }

      img,
      .owl-carousel {
        width: 231px;
        height: 389px;
      }

      .layer {
        width: calc(100% - 10px);
        height: 100%;
      }

      .main-wrapper {
        margin-bottom: 0;
      }

      .left-desc {
        top: 56px;
        left: 30px;
      }

      .right-desc {
        position: absolute;
        z-index: 3;
        width: 100%;
        left: 30px;
        margin-top: 161px;
        max-width: 260px;
      }
    }

    #train {
      padding: 89px 30px 73px 0;
      width: calc(100% - 30px);

      .title {
        margin-left: 0;
      }

      .nav {
        top: -500px;
        margin-right: 0;
      }

      .main-wrapper {
        padding: 0 0 0 30px;
        width: calc(100% - 30px);

        .right-desc {
          margin-left: 0;
          margin-top: 115px;

          p,
          .links {
            width: 100%;
          }
        }

        .left-desc {
          top: unset;
        }
      }
    }
  }

  section.img-slider .content-mobile,
  section.img-slider .content-main {
    width: calc(100% - 60px);
  }
}