@media #{$media_desktop} {
  .p10 .back-rect {
    max-width: 70%;
  }
}

@media (max-width: 1150px) {

  .page {
    height: 1024px;
    overflow-y: unset;
  }

  .p2 {
    .content .text .bold {
      @include lib-font-size(170px);
    }
  }

  .p3 .layer {
    height: 577px;
    width: 655px;
  }

  .p5 {
    overflow-x: hidden;

    .content .text {
      margin-top: 114px;
    }

    .content .map {
      margin-top: -225px;
    }

    .content .description {
      margin-top: auto;
      margin-bottom: 77px;
      width: 100%;
      max-width: 354px;
      margin-right: 0;
      margin-left: auto;
    }
  }

  .p6 {
    .content .text .bold .black {
      @include lib-font-size(170px);
    }
  }

  .p7 .content {
    .photo1 {
      margin-bottom: 350px;
      left: 0;
      max-width: 30%;
    }

    .photo2 {
      margin-bottom: 650px;
      left: 29%;
    }

    .photo3 {
      margin-top: 500px;
      left: 3%;
    }

    .photo4 {
      margin-top: 300px;
      left: 12%;
    }

    .photo5 {
      margin-top: 30px;
      left: 3%;
    }

    .photo6 {
      margin-top: 630px;
      left: 20%;
    }

    .photo7 {
      margin-bottom: 730px;
      right: 31%;
    }

    .photo8 {
      margin-bottom: 100px;
      right: 5%;
    }

    .photo9 {
      margin-bottom: 450px;
      right: 0;
    }

    .photo10 {
      margin-top: 460px;
      right: 30%;
    }

    .photo11 {
      margin-top: 28%;
      right: 0;
      max-width: 23%;
    }

    .photo12 {
      margin-top: 600px;
      right: 3%;
    }
  }

  .p8 {
    .content .text .bold {
      @include lib-font-size(170px);
    }
  }

  .p10 .back-rect {
    max-width: 90%;
  }

  .page .p10 .content {
    width: 100%;
  }

  .p10 .content .container {
    @include lib-vendor-prefix-flex-direction(column);
  }

  .p10 .content .text {
    margin: 0;
  }

  .p10 .content .description {
    margin-bottom: 0;
    left: unset;
    position: relative;
  }

  .page.p11 .content {
    @include lib-vendor-box-align(flex-start);
  }

  .p11 .slider .content .text {
    position: relative;
    margin-left: 100px;
    margin-top: -41px;
  }

  .p11 .slider .content .description {
    align-self: flex-end;
    margin-top: 30px;
    margin-left: 0;
  }
}

@media #{$media_mobile} {
    .page {

        .content {
            padding: 0 20px;
            max-width: $screen_iPad_landscape;
        }
    }

    .p2 {
        .content {

            .text {
                font-size: 71px;
            
                .bold {
                    font-size: 120px;
                }
            }
        }
    }

    .p3 {

        .content {
        
            .text {
                font-size: 71px;
                line-height: 80px;
            }

            .items {

                .item {
                    width: 100%;
                    max-width: 45%;
                    font-size: 50px;
                }

                .item::before {
                    width: 10px;
                    height: 10px;
                    margin: 15px 0;
                    margin-right: 20px;
                  }
            }
        }
    }

    .p4 {
      
        .content {
      
            .text {
                font-size: 71px;
                line-height: 80px;
            }
        }
    }

    .p5 {
        .content {
        
            .text {
                font-size: 71px;
                line-height: 80px;
            }

            .map {
                margin-left: 50px;
            }
        
            .description {

                .white {
                    font-size: 30px;
                }
            }
        } 
    }
    .p6 {
  
        .content {
    
            .text {
        
                .bold {
        
                    .black {
                        font-size: 120px;
                        line-height: 140px;
                    }
            
                    .white {
                        font-size: 71px;
                        line-height: 60px;
                    }
                }
            }
        }
    }

    .p8 {
  
        .content {
    
            .text {
        
                .bold {
                    font-size: 120px;
                    line-height: 140px;
                }
        
                .white {
                    margin-top: 54px;
                    font-size: 71px;
                    line-height: 60px;
                }
            }
        }
    }

    .p10 {
      
        .content {
      
          .back-rect {
            right: 0;
            max-width: 655px;
          }

          .text {
            font-size: 71px;
            line-height: 60px;
          }
      
          img {
            position: absolute;
            margin-top: 170px;
            margin-left: 80px;
          }
      
          .description {
            width: 100%;
            max-width: 300px;
      
            p {
              font-size: 16px;
              color: $color-white;
              line-height: 22px;
              text-align: left;
              text-transform: none;
              padding-bottom: 15px;
              margin: 0;
            }
      
            a {
              font-size: 16px;
              color: $color-red;
              text-transform: uppercase;
            }
      
            a::after {
              content: '';
              display: inline-block;
              width: 15px;
              height: 3px;
              border-top: 1px solid $color-red;
              border-bottom: 1px solid $color-red;
              margin-left: 15px;
              margin-bottom: 4px;
            }
          }
        }
      }

    .p12 {

        .content {
      
            .text {
                font-size: 71px;
        
                .border {
                    line-height: 60px;
                }
            
                .bold {
                    font-size: 120px;
                    line-height: 140px;
                }
            }
        }
    }
}

@media #{$media_mobile_s} {
  .page,
  .page .double-border {
    height: 680px;
  }

  .p2 .content .text {
    font-size: unset;

    span {
      display: block;
    }

    .border {
      @include lib-font-size(40px);

      .red {
        margin-top: 45px;
      }
    }

    .bold {
      margin-top: 20px;
      @include lib-font-size(90px);
      @include lib-line-height(85px);
    }
  }

  .p3,
  .page.p3 .double-border {
    height: max-content;
  }

  .p3 .layer {
    width: 100%;
    height: 363px;
  }

  .p3 {
    span {
      display: inline-block;
    }

    .content {
      justify-content: unset;

      .text {
        margin-top: 70px;
        @include lib-font-size(40px);
        @include lib-line-height(40px);

        br {
          display: none;
        }

        .bold {
          margin-top: 15px;
        }
      }

      .items {
        margin-top: 30px;
        margin-bottom: 50px;
      }

      .items .item {
        max-width: unset;
        @include lib-font-size(40px);

        &:before {
          margin: 10px 20px 10px 0;
        }

        .description {
          @include lib-font-size(20px);
          margin-top: 15px;
          margin-right: 20px;
          margin-bottom: 35px;
          max-width: unset;
        }
      }
    }
  }

  .p4 .content .text {
    @include lib-font-size(40px);
    @include lib-line-height(40px);
  }

  .p5,
  .page .p5 .double-border {
    height: 750px;
  }

  .p5 .content .map {
    bottom: 0;
  }

  .p5 .map .map-image {
    min-width: 900px;
  }

  .p5 .map .content {
    bottom: 190px;
  }

  .p5 .map .c1 {
    top: 149px;
    left: 88px;
  }

  .p5 .map .c2 {
    top: 250px;
    left: 93px;
  }

  .p5 .map .c3 {
    top: 186px;
    left: 247px;
  }

  .p5 .map .c4 {
    top: 244px;
    left: 305px;
  }

  .p5 {

    .content .description {

      .white {
        @include lib-font-size(16px);
        @include lib-line-height(25px);
      }
    }

    .content .text {
      @include lib-font-size(40px);
      @include lib-line-height(40px);
    }

    .content .cities:before {
      display: none;
    }

    .content .cities {
      margin-left: 0;
    }

    .content .cities img {
      display: none;
    }
  }

  .p6 .content .text .bold .black {
    @include lib-line-height(90px);
    @include lib-font-size(90px);
  }

  .p6 .content .text .bold .white {
    @include lib-line-height(40px);
    @include lib-font-size(40px);
    margin-top: 40px;
    display: inline-block;
  }

  .p7 {
    display: none;
  }

  .p8 .content .text {
    .bold {
      @include lib-line-height(90px);
      @include lib-font-size(90px);
    }

    .white {
      @include lib-line-height(40px);
      @include lib-font-size(40px);
      margin-top: 40px;
      display: inline-block;
    }
  }

  .p10 .content .container {
    margin-left: 0;
  }

  .p10 .content .text {
    @include lib-font-size(40px);
    @include lib-line-height(40px);
  }

  .page.p10 .content {
    justify-content: flex-start;
  }

  .p10 .content .container {
    margin-top: 60px;
  }

  .p10 .content .description {
    margin-top: 15px;

    a {
      margin-top: 32px;
    }

    p,
    a {
      @include lib-font-size(14px);
    }
  }

  .p11 .slider .content .text {
    position: relative;
    margin-left: unset;
    margin-top: 40px;
    @include lib-font-size(40px);
    @include lib-line-height(40px);
  }

  .p11 .slider .content .description {
    align-self: unset;

    a {
      display: inline-block;
      margin-top: 25px;
    }

    p,
    a {
      @include lib-font-size(14px);
    }
  }

  .p11 .slider .content img {
    width: auto;
    height: 173px;
  }

  .p12 .content .text {
    font-size: unset;
  }

  .p12 .content .text .border {
    @include lib-font-size(45px);
    @include lib-line-height(40px);
  }

  .p12 .content .text .bold {
    @include lib-font-size(90px);
    @include lib-line-height(90px);
  }
}

@media screen and (max-width: 360px) {
  .p2 .content .text .border,
  .p4 .content .text {
    @include lib-font-size(30px);
  }

  .p4 .content .text {
    @include lib-line-height(35px);
  }

  .p2 .content .text .bold {
    @include lib-font-size(80px);
    @include lib-line-height(80px);
  }
}