@mixin clearfix {
  *zoom:1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.links {
  @include clearfix;
  box-sizing: border-box;
  text-align: center;
}

.link-effect-2 {
  overflow: hidden;
  a {
    overflow: hidden;
    white-space: nowrap;
    height: 1em;
    color: #FF0031;
    font-weight: 400;
    span {
      position: relative;
      display: inline-block;
      font-weight: $font-weight__heavier;
      &::before {
        color: white;
        position: absolute;
        top: 100%;
        content: attr(data-hover);
        font-weight: 600;
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
    &:hover{
      span{
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
      }
    }
  }
}