$color-black: #000000;
$color-unset: unset;
$color-white: #ffffff;
$color-red: #FF0031;
$color-back-grey: #272628;
$color-font-grey: #737373;
$color-back-black: #181818;
$color-page-back-grey: #333333;
$color-page-border-grey: #313131;
$color-page-back-white: #EAEAEA;
$color-page-border-white: #F0F0F0;
$color-p3-border-grey: #232224;
$color-p3-back-black: #232325;
$color-p3-descrp-grey: #A9A9A9;
$color-rect-back: #1E1E1E;
$color-nums-dark: #424242;
$color-nums-light: #D0D0D0;