section.hero {
  max-width: unset;
  width: 100%;
  min-height: 100vh;
}

.hero .img-wrapper * {
  transition: unset;
}

.page-template-page-products .first {
  .socials p,
  .socials div a.lang,
  .socials svg path {
    color: #737373;
    fill: #737373;
  }
}

.page-template-page-products .first,
.hero {
  .socials {
    @include lib-vendor-prefix-display(flex);
  }

  .socials {
    height: 100%;
    position: absolute;
    left: 95px;
    z-index: 7;
    justify-content: center;
  }

  .socials p {
    top: 35px;
    margin: 35px 0 0 0;
    display: block;
    width: 170px;
  }

  .socials p,
  .socials div {
    position: absolute;
  }

  .socials div {
    position: absolute;
    bottom: 50px;
    flex-direction: column;
    @include lib-vendor-box-align(center);
    @include lib-vendor-prefix-display(flex);

    a.social {
      margin-top: 50px;
    }

    a.lang {
      margin-bottom: 70px;
      transform: rotate(-90deg);
    }
  }

  .socials p,
  .socials a,
  .socials svg path {
    filter: blur(1px);

    &:hover {
      filter: blur(0);
    }
  }

  .socials svg:hover path {
    filter: blur(0);
  }

  .socials p {
    cursor: default;
    max-width: 141px;
  }

  .socials p,
  .socials a:first-child {
    transform: rotate(-90deg);
  }
}

.hero {
  overflow: hidden;

  .layer {
    display: block;
    position: absolute;
    bottom: 0;
    height: 100%;

    svg {
      height: 100%;
      width: auto;
    }
  }

  .wrapper {
    width: 100%;
    max-width: 1163px;
    margin: 0 auto;
  }

  .main-content {
    @include lib-vendor-prefix-display(flex);
    @include lib-vendor-prefix-flex-direction(column);
    justify-content: center;
    width: 100%;
    height: 100vh;

    .img-wrapper {
      width: 100%;
      height: 100%;
      @include lib-vendor-prefix-display(flex);
      justify-content: center;
      @include lib-vendor-box-align(center);
      position: absolute;
      top: 0;
      right: 0;
      overflow: hidden;

      img {
        max-height: 120%;
        width: auto;
        margin-top: 20%;
        margin-left: 25%;
      }
    }
  }

  .main-content,
  .description {
    display: none;
  }

  .left {
    @include lib-vendor-prefix-display(flex);
  }

  .main-content p,
  .main-content h1,
  .main-content h2,
  .main-content h3,
  .main-content h4,
  .main-content h5,
  .main-content h6 {
    max-width: 70%;
    @include lib-font-size(90px);
    @include lib-line-height(83px);
    text-align: left;
    color: $color-back-grey;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    z-index: 1;

    strong em,
    em strong {
      color: transparent !important;
      font-style: normal;
    }

    strong {
      color: $color-white;
    }

    strong em {
      -webkit-text-stroke: 1px $color-back-grey;
    }

    em strong {
      -webkit-text-stroke: 1px $color-white;
    }
  }

  &.theme-blue{
    background: #27F0E4;

    .socials svg path {
      fill: #737373;
    }

    .socials p,
    .socials a,
    .socials svg path {
      color: #737373;
      fill: #737373;
    }

    .main-content p,
    .main-content h1,
    .main-content h2,
    .main-content h3,
    .main-content h4,
    .main-content h5,
    .main-content h6 {
      color: $color-white;

      strong em,
      em strong {
        color: transparent !important;
        font-style: normal;
      }

      strong {
        color: $color-red;
      }

      strong em {
        -webkit-text-stroke: 1px $color-back-grey;
      }

      em strong {
        -webkit-text-stroke: 1px $color-white;
      }
    }
  }

  &.theme-red {
    background: $color-red;

    .socials svg path {
      fill: #70061A;
    }

    .socials p,
    .socials a,
    .socials svg path {
      color: #70061A;
      fill: #70061A;
    }
  }

  &.theme-dark {
    background: #333333;

    .socials,
    .socials .lang {
      color: #737373;
    }

    .socials svg path {
      fill: #737373;
    }

    .main-content p,
    .main-content h1,
    .main-content h2,
    .main-content h3,
    .main-content h4,
    .main-content h5,
    .main-content h6 {
      color: $color-white;

      strong {
        color: #FF0031;
      }
    }

    .img-wrapper img {
      max-height: 170%;
      width: auto;
      margin-top: 10%;
      margin-left: 15%;
    }
  }

  &.theme-light {
    background: #EAEAEA;

    .socials,
    .socials .lang {
      color: #272628;
    }

    .socials svg path {
      fill: #272628;
    }

    .layer {
      display: block;
      position: absolute;
      bottom: 0;
      height: 100%;

      svg {
        height: 100%;
        width: auto;
      }
    }

    .main-content p,
    .main-content h1,
    .main-content h2,
    .main-content h3,
    .main-content h4,
    .main-content h5,
    .main-content h6 {
      color: $color-white;

      strong {
        color: #FF0031;
      }
    }

    .img-wrapper img {
      margin-top: unset;
    }
  }

  .right,
  .right nav {
    @include lib-vendor-prefix-display(flex);
    @include lib-vendor-prefix-flex-direction(column);
  }

  .right .description {
    @include lib-vendor-prefix-flex-direction(column);
  }

  .right {
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 33%;
    top: 0;
    right: 0;
    background: repeating-linear-gradient( to right, rgba(2555, 255, 255, 0), rgba(0, 0, 0, .2) 3px);
    padding-left: 3px;
    border-left: 1px solid #FF0031;

    .blur {
      position: absolute;
      height: inherit;
      width: 100%;
      z-index: -1;
      background: rgba(39, 38, 40, 0.4);
    }

    nav,
    .description,
    .logo {
      padding-left: 58px;
    }

    nav,
    .logo {
      border-left: 1px solid #FF0031;
    }

    .logo {
      padding-top: 30px;
    }

    nav {
      padding-top: 107px;
      padding-bottom: 23px;
      font-weight: 500;
      @include lib-font-size(18px);
      text-transform: uppercase;

      a.active {
        color: $color-white;
        @include lib-vendor-prefix-display(flex);
        @include lib-vendor-box-align(center);

        &:before {
          content: "";
          position: absolute;
          height: 1px;
          background: #FF0031;
          width: 42px;
          left: -58px;
        }
      }

      a {
        color: rgba(255, 255, 255, .2);
        margin-bottom: 10px;

        &:hover {
          color: $color-white;
        }
      }
    }

    .description {
      padding-bottom: 111px;
      margin-bottom: 0;
      margin-top: auto;

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        max-width: 256px;
        font-weight: 600;
        @include lib-font-size(25px);
        color: $color-white;
        margin: 0;

        strong {
          color: #FF0031;
        }
      }

      p.text-content {
        font-weight: 400;
        color: rgba(255, 255, 255, .6);
        padding-top: 16px;
        @include lib-font-size(16px);
      }

      a {
        left: 157px;
        color: #FF0031;
        margin-top: 24px;
        text-transform: uppercase;
        @include lib-vendor-prefix-display(flex);
        @include lib-vendor-box-align(center);
        width: max-content;

        &:after {
          margin-left: 9px;
          display: block;
          content: "";
          width: 15px;
          height: 3px;
          border-top: 1px solid #FF0031;
          border-bottom: 1px solid #FF0031;
        }

        &:hover {
          color: #FF0031;
        }
      }
    }
  }
}

@media screen and (max-width: 1390px) {
  .hero .wrapper {
    max-width: 80%;
  }
}

@media screen and (max-width: 1150px) {
  .hero .wrapper {
    padding: 0 22px;
    max-width: calc(100% - 44px);
  }

  .hero .right {
    height: 30%;
    top: unset;
    bottom: 0;
    width: 100%;
    @include lib-vendor-prefix-flex-direction(row);

    nav {
      padding-top: 61px;
    }

    .description {
      margin-top: 61px;
      padding-left: 123px;
    }

    .logo {
      display: none;
    }

    .blur {
      height: 100%;
    }
  }

  .hero .main-content {
    justify-content: unset;
  }

  .hero .socials {
    display: none;
  }

  .hero .main-content {
    height: max-content;
  }

  .hero .main-content p,
  .hero .main-content h1,
  .hero .main-content h2,
  .hero .main-content h3,
  .hero .main-content h4,
  .hero .main-content h5,
  .hero .main-content h6 {
    margin-top: 156px;
    @include lib-font-size(60px);
    @include lib-line-height(60px);
    padding-bottom: 541px;
  }
}

@media screen and (max-width: 658px) {
  .hero .right .description a {
    left: 0;
  }
}

@media screen and (max-width: 486px) {
  .hero .right nav {
    display: none;
  }

  section.hero {
    min-height: unset;
  }

  .hero .right {
    height: max-content;
  }

  .hero .right .description {
    padding: 40px 28px;
    margin: 0;

    p.text-content {
      @include lib-font-size(20px);
    }

    p {
      max-width: unset;
      @include lib-font-size(32px);

      br {
        display: none;
      }
    }

    a {
      align-self: end;
    }
  }

  .hero .main-content .img-wrapper {
    right: -80px;
    top: 190px;
  }

  .hero .main-content p,
  .hero .main-content h1,
  .hero .main-content h2,
  .hero .main-content h3,
  .hero .main-content h4,
  .hero .main-content h5,
  .hero .main-content h6 {
    max-width: 100%;
    @include lib-font-size(50px);
    @include lib-line-height(55px);
    margin-top: 153px;
    padding-bottom: 153px;
  }
}